<section class="content-header">
  <h1 class="display-1">
    Retirement Extension
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Retirement Extension</li>
  </ol>
</section>
<section class="content">

  <app-employee-quick-view [employeeId]="employeeId"></app-employee-quick-view>

  <div class="overlay text-center h3" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
  <ul class="nav nav-tabs">
    <li [ngClass]="currentTab=='details'?'active':''" id="tab_details"><a (click)="onTabClick(0)">Details</a></li>
    <li [ngClass]="currentTab=='history'?'active':''" id="tab_history"><a (click)="onTabClick(1)">History</a>
    </li>
  </ul>
  <div class="panel panel-info" *ngIf="currentTab=='details'">
    <div class="panel-heading">
      <h3 class="panel-title">Extension Details</h3>
    </div>

    <div class="panel-body">
      <form #resgForm="ngForm" class="form-horizontal">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="dateOfBirth">Date of Birth </label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                  [(ngModel)]="extensionDetails.dateOfBirth" [owlDateTime]="dateOfBirth"
                  [owlDateTimeTrigger]="dateOfBirth" [disabled]="true">
                <owl-date-time [pickerType]="'calendar'" #dateOfBirth></owl-date-time>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="retirementDate">Retirement Date </label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="retirementDate" name="retirementDate"
                  [(ngModel)]="retirementDetails.dateOfRetirement" [owlDateTime]="retirementDate"
                  [owlDateTimeTrigger]="retirementDate" [disabled]="true">
                <owl-date-time [pickerType]="'calendar'" #retirementDate></owl-date-time>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="retirementClosureDate">Retirement Closure Date </label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="retirementClosureDate" name="retirementClosureDate"
                  [(ngModel)]="retirementDetails.retirementClosureDate" [owlDateTime]="retirementClosureDate"
                  [owlDateTimeTrigger]="retirementClosureDate" [disabled]="true">
                <owl-date-time [pickerType]="'calendar'" #retirementClosureDate></owl-date-time>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="applicableDate">Extension Start Date <span style="color:red">*</span></label>
              <div class="col-md-8">
                <input [matTooltipPosition]="'below'" matTooltip="Click to Add Extension Start Date"
                  [owlDateTime]="dt11" id="applicableDate" #applicableDateEnt="ngModel"
                  placeholder="Applicable Date" [owlDateTimeTrigger]="dt11" name="applicableDate"
                  class="form-control" [(ngModel)]="retirementDetails.extensionStartDate" disabled>
                <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="extensionMonths">Extension Months <span style="color:red">*</span></label>
              <div class="col-md-8">
                <input type="text" [matTooltipPosition]="'below'"
                  matTooltip="Input Extension Months"
                  [(ngModel)]="retirementDetails.months" class="form-control"
                  id="extensionMonths" name="extensionMonths"
                  #extensionMonths="ngModel" maxlength="500" [disabled]="!isVisible" (ngModelChange)="getExtensionDate($event)">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="extendedDate">Extension End Date</label>
              <div class="col-md-8">
                <input [matTooltipPosition]="'below'" matTooltip="Click to Add Applicable Date"
                  [owlDateTime]="dt12" id="extendedDate" #extendedDateEnt="ngModel"
                  placeholder="Extended Date" [owlDateTimeTrigger]="dt12" name="extendedDate"
                  class="form-control" [(ngModel)]="retirementDetails.extensionEndDate" [disabled]="true">
                <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4" for="remarks">Remarks <span style="color:red">*</span></label>
              <div class="col-md-8">
                <textarea [matTooltipPosition]="'below'"
                  matTooltip="Input Remarks (Max 500 Chars)"
                  [(ngModel)]="retirementDetails.remarks" class="form-control"
                  id="remarks" name="remarks"
                  #reasonRetirementDateChange="ngModel" maxlength="500" [disabled]="!isVisible"></textarea>
                  <span class="help-block" *ngIf="reasonRetirementDateChange.touched && !reasonRetirementDateChange.valid">
                    <span *ngIf="reasonRetirementDateChange.errors.required"> Please enter recall details (Max 1000
                      Chars)</span>
                  </span>
              </div>
            </div>
          </div>
        </div>



        <div class="row text-center">
          <div class="col-md-12 actionButtons">
            <button type="button" (click)="goBack()" class="btn btn-default" [matTooltipPosition]="'after'"
            matTooltip="Click to go back to list">
            <i class="fas fa-arrow-left"></i> Back
          </button>            
            <button type="button" class="btn btn-success" (click)="submit()"
              matTooltip="Click to Submit Retirement" [disabled]="isLoading">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <app-history [employeeId]="employeeId" *ngIf="currentTab=='history' && employeeId > 0"></app-history>  
</section>