<section class="content-header">
  <h1 class="display-1">
    Exit Letters
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Print Exit Letters</li>
  </ol>
</section>
<section class="content">
  <div class="overlay text-center h3" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
  <div>
    <div class="panel-body form-horizontal">
       
      <div class="row">
        <div class="col-xs-3 text-right">
          <button type="button" (click)="goBack()" class="btn btn-sm btn-default" [matTooltipPosition]="'after'"
          matTooltip="Click to go back to list">
            <i class="fas fa-arrow-left"></i> Back
          </button>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="col-md-4">Select Letter</label>
            <div class="col-md-8">
              <select class="form-control" [(ngModel)]="selectedTemplateType" (change)="getPrintTemplates($event)" name="selectedTemplateType">
                <option value="0">Select Letter</option>
                <option value="Resignation Accept">Resignation Acceptance</option>
                <option value="Relieving Letter" *ngIf="this.resignationDetails.employeeCategoryId == 2">Relieving Letter</option>                
                <option value="Experience Letter">Experience Letter</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="col-md-4">Select Template</label>
            <div class="col-md-8">
              <select class="form-control" id="printTemplateId" [(ngModel)]="selectedTemplateId"
              ngControl="selectedTemplateId" name="printTemplateId" #printTemplateEnt="ngModel" required>
              <option [ngValue]="null"  [selected]="true" default> Select letter template </option>
              <option *ngFor="let pl of printTemplates" [ngValue]="pl.printTemplateId">{{pl.templateName}}</option>
            </select>
            <span class="help-block" *ngIf="printTemplateEnt.touched && !printTemplateEnt.valid">
              Please select a value</span>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="button" (click)="getLetter()" class="btn btn-sm btn-success" [matTooltipPosition]="'after'"
          matTooltip="Click to get the letter" [disabled]="isLoading">
          Get</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-xs-3"></div>
        <div class="col-xs-9" *ngIf="letterLoaded == true">          
          <div class="col-sm-4" *ngIf="canEmail">

            <input type="text" class="form-control" id="personalEmailId" placeholder="Comma separeated Email Ids to send email"
            [(ngModel)]="resignationDetails.personalEmailId" ngControl="resignationDetails.personalEmailId" name="personalEmailId"
            #emailEnt="ngModel" required />
            <span class="help-block" *ngIf="emailEnt.touched && !emailEnt.valid">Please enter valid email id</span>

            <div class="form-group checkbox" *ngIf="selectedTemplateType=='Resignation Accept' && resignationDetails.employeeCategoryId == 2">
              <label >
                <input type="checkbox" [(ngModel)]="attachExitForm" name="attachExitForm"  *ngIf="canEmail" /> Attach Exit Form
              </label>
            </div>
          </div>
          <div class="col-sm-8 actionButtons">
            <button type="button" (click)="sendEmail()" class="btn btn-sm btn-success" [matTooltipPosition]="'after'"
            matTooltip="Click to send the letter" [disabled]="isLoading || (emailEnt && !emailEnt.valid)"  *ngIf="canEmail" >
            <i class="fas fa-arrow-right"></i> Send</button>

            <button type="button" (click)="print1()" class="btn btn-sm btn-info" [matTooltipPosition]="'after'"
        matTooltip="Click to print the letter" [disabled]="isLoading"  *ngIf="canPrint" >
            <i class="fas fa-print"></i> Print
          </button>

          <button type="button" (click)="download()" class="btn btn-sm btn-warning" [matTooltipPosition]="'after'"
            matTooltip="Click to download the letter" [disabled]="isLoading" *ngIf="canDownload" >
            <i class="fas fa-download"></i> Download
          </button>
          <div class="form-group checkbox" *ngIf="canPrint" >
            <label >
              <input type="checkbox" [(ngModel)]="removeSignature" name="removeSignature"  /> Remove Signature
            </label>
          </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <div class="printable" style="font-family:'Times New Roman', Times, serif">
    <div class="panel panel-default" id="pdfcontent">
      <div class="panel-body">
        <div [innerHTML]="details.content | safeHtml"></div>
      </div>
    </div>
    <div>
      <span>Created By: {{resignationDetails.createdByName}}</span>
    </div>
  </div>
</section>