<div class="panel panel-info" *ngIf="isShortfall == true">
  <div class="panel-heading">
    <h3 class="panel-title">Notice Shortfall Details</h3>
  </div>

  <div class="panel-body">
    <form #paymentViewForm="ngForm" class="form-horizontal">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Notice Shortfall Days</label>
            <div class="col-md-8">
              <input type="text" [(ngModel)]="resignationDetails.shortfallDays"
                class="form-control" id="shortfallDays" name="shortfallDays" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Settlement Type</label>
            <div class="col-md-8">
              <input type="text" [(ngModel)]="resignationDetails.settlementType"
                class="form-control" id="settlementType" name="settlementType" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Amount to be Paid</label>
            <div class="col-md-8">
              <input type="text"  [(ngModel)]="resignationDetails.payAmount"
                class="form-control" id="payAmount" name="payAmount" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Mode Of Payment</label>
            <div class="col-md-8">
              <input type="text" [(ngModel)]="resignationDetails.paymode"
                class="form-control" id="payMode" name="payMode" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Date of Receipt </label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="receiptDate" name="receiptDate"
                [(ngModel)]="resignationDetails.receiptDate" [owlDateTime]="receiptDate" 
                [owlDateTimeTrigger]="receiptDate" disabled>
              <owl-date-time [pickerType]="'calendar'" #receiptDate></owl-date-time>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Amount Paid</label>
            <div class="col-md-8">
              <input type="text"  [(ngModel)]="resignationDetails.paidAmount"
                class="form-control" id="paidamount" name="paidamount" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="resignationDetails.paymode=='Online Payment'">
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="receiptDate">Mode Of Transfer</label>
            <div class="col-md-8">
              <input type="text" [(ngModel)]="resignationDetails.modeOfTransfer"
                class="form-control" id="transferMode" name="transferMode" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="resignationDetails.paymode">

        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="chequeDate">{{resignationDetails.paymode}} Date</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="chequeDate" name="chequeDate"
                [(ngModel)]="resignationDetails.chequeDate" [owlDateTime]="chequeDate" 
                [owlDateTimeTrigger]="chequeDate" disabled >
              <owl-date-time [pickerType]="'calendar'" #chequeDate></owl-date-time>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="resignationDetails.paymode!='Online Payment'">
          <div class="form-group">
            <label class="col-md-4" for="ChequeNo">{{resignationDetails.paymode}} No</label>
            <div class="col-md-8">
              <input type="text" matTooltip="Input Cheque/DD No" [(ngModel)]="resignationDetails.chequeNo"
                class="form-control" id="ChequeNo" name="ChequeNo" disabled >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="bankName">Bank Name</label>
            <div class="col-md-8">
              <input type="text" matTooltip="Input Cheque/DD No" [(ngModel)]="resignationDetails.issuingBank"
                class="form-control" id="bankName" name="bankName" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="resignationDetails.paymode=='Online Payment'">
          <div class="form-group">
            <label class="col-md-4" for="referenceNo">Reference No</label>
            <div class="col-md-8">
              <input type="text" matTooltip="Input Transaction Reference No" [(ngModel)]="resignationDetails.referenceNo"
                class="form-control" id="referenceNo" name="referenceNo" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="resignationDetails.paymode=='Cheque'">
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="AccountNo">Account No</label>
            <div class="col-md-8">
              <input type="text" matTooltip="Input Account No" [(ngModel)]="resignationDetails.accountNo"
                class="form-control" id="AccountNo" name="AccountNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="issuingPersonName">Issuing Person Name</label>
            <div class="col-md-8">
              <input type="text" matTooltip="Input Issuing Person Name" [(ngModel)]="resignationDetails.issuingPersonName"
                class="form-control" id="issuingPersonName" name="issuingPersonName" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4" for="chequeName">Name on the Cheque</label>
            <div class="col-md-8">
              <input type="text" matTooltip="InputName Of The Cheque" [(ngModel)]="resignationDetails.nameOfTheCheque"
                class="form-control" id="chequeName" name="chequeName" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="resignationDetails.paymode=='Demand Draft(DD)'">       
        <div class="col-md-4" >
          <div class="form-group">
            <label class="col-md-4" for="Favouring">Favouring</label>
            <div class="col-md-8">
              <input type="text" matTooltip="Input Favouring " [(ngModel)]="resignationDetails.favouring"
                class="form-control" id="Favouring" name="Favouring" disabled>
            </div>
          </div>
        </div>
      </div>

    </form>
    </div>
</div>