<section class="content-header">
    <h1 class="display-1">
        Spares Request
        <small> ITAMS </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    </ol>
</section>

<!--Main Content-->
<section class="content">
    <div class="box">
        <div class="box-header">
            <div class="col-xs-6">
                <h3 class="box-title">Request</h3>
                <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-primary pull-right"
                    (click)="onUserActions(false,SparesRequestModel,false,'')"><i class="fa fa-plus"
                        aria-hidden="true"></i>
                    New Request</button>
            </div>
        </div>
        <div id="dateFilterPanel">
            <div class="col-sm-12">
                <div class="card-body" style="border: black; box-shadow: gray;">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="requestNo">Request No</label>
                                <input [(ngModel)]="filterreqno" class="form-control" id="requestNo"
                                    placeholder="Request No" name="requestNo" ngControl="filterreqno"
                                    #requestNoEnt="ngModel">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="reqType">Request Type<span style="color:red">*</span></label>
                                <select [(ngModel)]="filterreqType" class="form-control" id="reqType" name="reqType"
                                    ngControl="filterreqType" #reqTypeEnt="ngModel" [disabled]="isEdit"
                                    matTooltip="Select RequestType" required>
                                    <option [ngValue]="undefined" disabled>--Select an Option--</option>
                                    <option>Internal Use</option>
                                    <option>External Use</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>From Date</label>
                            <div class="form-group form-group-sm">
                                <input [matTooltipPosition]="'below'" matTooltip="Click to change from date"
                                    [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" name="fromDate"
                                    class="form-control" [(ngModel)]="from_date" #fromDate="ngModel">
                                <owl-date-time [pickerType]="'calendar'" #dt11 style="width: 250px;"></owl-date-time>
                                <span class="help-block" *ngIf="!fromDate.valid && fromDate.touched">Please enter valid
                                    From
                                    Date.</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>To Date</label>
                            <div class="form-group form-group-sm">
                                <input [min]="from_date" [max]="today" [matTooltipPosition]="'below'"
                                    matTooltip="Click to change to date" [owlDateTime]="dt12"
                                    [owlDateTimeTrigger]="dt12" name="endDate" class="form-control"
                                    [(ngModel)]="to_date" #toDate="ngModel">
                                <owl-date-time [pickerType]="'calendar'" #dt12 style="width: 250px;"></owl-date-time>
                                <span class="help-block" *ngIf="!toDate.valid && toDate.touched">Please enter valid To
                                    Date.</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>&nbsp;</label>
                            <div class="form-group form-group-sm">
                                <button class="btn btn-primary btn-sm" (click)="getAllEntries();"
                                    [disabled]="(!toDate.valid && toDate.touched) || (!fromDate.valid && fromDate.touched)"
                                    matTooltip="click to go">Go</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary btn-sm" (click)="clearFilter();"
                                    matTooltip="click to reset">Clear</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary btn-sm" (click)="approveRequest();"
                                    matTooltip="click to approve">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;


        <div class="box-body table-responsive" *ngIf="filterreqType == 'Internal Use'">
            <table id="userTable" class="table table-bordered table-striped">
                <thead style="background-color: #68a7d2;color:white;">
                    <tr>
                        <th> </th>
                        <th>Sl No</th>
                        <th>Request No</th>
                        <th>Date of Request</th>
                        <th>Employee No</th>
                        <th>Employee Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of requestList; let i = index">
                        <td> <input *ngIf="item.approvedBy == null || item.approvedBy == '' " type="checkbox"
                                [id]="'chkusage'+item.id" [name]="'send'+item.id" [(ngModel)]="item.isSelected"
                                (change)="isAllSelected()" #usageEnt="ngModel">
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{item.requestNo}}</td>
                        <td>{{item.requestDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>{{item.employeeNumber }}</td>
                        <td>{{item.employeeName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="overlay" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>

        <div class="box-body table-responsive" *ngIf="filterreqType == 'External Use'">
            <table id="userTable" class="table table-bordered table-striped">
                <thead style="background-color: #68a7d2;color:white;">
                    <tr>
                        <th> </th>
                        <th>Sl No</th>
                        <th>Request No</th>
                        <th>Date of Request</th>
                        <th>Receiver No</th>
                        <th>Receiver Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of requestList; let i = index">
                        <td> <input *ngIf="item.approvedBy == null || item.approvedBy == '' " type="checkbox"
                                [id]="'chkusage'+item.id" [name]="'send'+item.id" [(ngModel)]="item.isSelected"
                                (change)="isAllSelected()" #usageEnt="ngModel">
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{item.requestNo}}</td>
                        <td>{{item.requestDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>{{item.receiverNumber}}</td>
                        <td>{{item.receiverName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="overlay" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</section>

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" style="color: #0FB381; text-align: center;"><span class="text pull-center"
                        *ngIf="errMsgPop1.length>0"><i class="fa fa-check"></i>{{errMsgPop1}}</span></h3>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="isLoading">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #70c6ff;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title"> Spares Request
                </h3>
            </div>

            <div class="col-sm-12">
                <form #requestForm="ngForm">
                    <div class="card-body" style="border: black; box-shadow: grey;">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group form-group-sm">
                                    <label for="useType">Request Type<span style="color:red">*</span></label>
                                    <select [(ngModel)]="filteruseType" class="form-control" id="useType" name="useType"
                                        ngControl="filteruseType" #useTypeEnt="ngModel" [disabled]="isEdit"
                                        matTooltip="Select Request Type" required>
                                        <option [ngValue]="undefined" disabled>--Select an Option--</option>
                                        <option>Internal Use</option>
                                        <option>External Use</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;

                        <div class="col-xs-6">
                            <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div id="dateFilterPanel" *ngIf="filteruseType == 'Internal Use'">
                        <div class="col-sm-12">
                            <div class="card-body" style="border: black; box-shadow: gray;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group form-group-sm">
                                            <label for="empNo"> Employee No. <span style="color:red">*</span>
                                            </label>
                                            <input class="form-control input-sm suggestion" type="text" name="empNo"
                                                [(ngModel)]="filterempNo" #empNoEnt="ngModel" placeholder="Emp No"
                                                ngControl="filterempNo" value="empNo" maxlength="10"
                                                (keyup)="setDet(filterempNo)" id="empNo" [disabled]="isEdit"
                                                matTooltip="Enter Employee No." required />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-group-sm">
                                            <label for="empName"> Employee Name </label>
                                            <input class="form-control input-sm" type="text" name="empName"
                                                [(ngModel)]="filterempAd " placeholder="Emp Name" value="empName"
                                                ngControl="filterempAd " maxlength="80" [id]="empName"
                                                matTooltip="Enter Employee Name" readonly="true" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-group-sm">
                                            <label for="desg"> Designation </label>
                                            <input class="form-control input-sm" type="text" name="desg"
                                                [(ngModel)]="filterdesg" placeholder="Designation" value="desg"
                                                maxlength="80" [disabled]="isEdit" [id]="desg"
                                                matTooltip="Enter Employee Designation" readonly="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="dateFilterPanel" *ngIf="filteruseType == 'External Use'">
                        <div class="col-sm-12">
                            <div class="card-body" style="border: black; box-shadow: gray;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group form-group-sm">
                                            <label for="recName"> Receiver Name <span style="color:red">*</span>
                                            </label>
                                            <input class="form-control input-sm suggestion" type="text" name="recName"
                                                [(ngModel)]="filterrecName" #recNameEnt="ngModel"
                                                placeholder="Reveiver Name" ngControl="filterrecName" value="recName"
                                                maxlength="10" id="empNo" matTooltip="Enter Receiver Name" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-group-sm">
                                            <label for="recNo"> Receiver No. </label>
                                            <input class="form-control input-sm" type="text" name="recNo"
                                                [(ngModel)]="filterrecNo " placeholder="Receiver No" value="recNo"
                                                ngControl="filterrecNo " maxlength="80" [id]="recNo"
                                                matTooltip="Enter Receiver No." />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-group-sm">
                                            <label for="recCom"> Receiver Company </label>
                                            <input class="form-control input-sm" type="text" name="recCom"
                                                [(ngModel)]="filterrecCom" placeholder="Receiver Company" value="recCom"
                                                maxlength="80" [disabled]="isEdit" [id]="recCom"
                                                matTooltip="Enter Receiver Company" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="dateFilterPanel" *ngIf="filteruseType != null">
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <label for="reqReason">Reason for Request<span style="color:red">*</span></label>
                                <input [(ngModel)]="filterreqReason" class="form-control" id="reqReason"
                                    name="reqReason" ngControl="filterreqReason" #reqReasonEnt="ngModel"
                                    placeholder="Enter Request Type">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="assetId"> Asset Id </label>
                                <input class="form-control input-sm" type="text" name="assetId"
                                    [(ngModel)]="filterassetId1" placeholder="Asset Id" value="assetId" maxlength="80"
                                    [disabled]="isEdit" [id]="assetId" matTooltip="Enter Asset Id" required
                                    readonly="true" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="assetNo1"> Asset No <span style="color:red">*</span></label>
                                <input class="form-control input-sm suggestion" type="text" name="assetNo1"
                                    [(ngModel)]="filterassetNo1" #assetNo1Ent="ngModel" placeholder="Asset No"
                                    value="assetNo1" maxlength="10" (keyup)="setList(filterassetNo1)" id="assetNo1"
                                    [disabled]="isEdit" matTooltip="Enter Asset No." required />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="location"> Location </label>
                                <input class="form-control input-sm" type="text" name="location"
                                    [(ngModel)]="filterlocation1" placeholder="Location" value="location" maxlength="80"
                                    [disabled]="isEdit" [id]="location" matTooltip="Enter Location" required
                                    readonly="true" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="category">Category</label>
                                <input class="form-control input-sm" type="text" name="category"
                                    [(ngModel)]="filtercategory1" placeholder="Category" value="category" maxlength="80"
                                    [disabled]="isEdit" [id]="category" matTooltip="Enter Category" required
                                    readonly="true" />
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <button title="Add Rows" [matTooltipPosition]="'below'"
                                        matTooltip="Click to Add more Rows" (click)="addRows(i);"
                                        class="btn btn-primary btn-xs pull-right" *ngIf="!isEdit" [disabled]="isEdit">
                                        <i class="fa fa-plus"></i></button>
                                    <table id="materialTable" class="table table-striped" cellspacing="0"
                                        style="margin-bottom: 0px;">
                                        <thead style="background-color: #0099cc; color:white;">
                                            <tr>
                                                <th class="col-sm-1">Sl. No</th>
                                                <th class="col-sm-3">Material Code</th>
                                                <th class="col-sm-3">Material Desc</th>
                                                <th class="col-sm-2">Quantity</th>
                                                <th class="col-sm-2"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let per of materialList; let i=index">
                                                <td>
                                                    <label>{{i+1}}</label>
                                                </td>
                                                <td><input [(ngModel)]="per.filtermaterialCode" class="form-control"
                                                        [id]="materialCode" placeholder="Material Code"
                                                        [name]="materialCode" ngControl="filtermaterialCode"
                                                        #materialCode="ngModel">
                                                </td>
                                                <td><input [(ngModel)]="per.filtermaterialDesc" class="form-control"
                                                        [id]="materialDesc" placeholder="Material Name"
                                                        [name]="materialDesc" ngControl="filtermaterialDesc"
                                                        #materialDesc="ngModel">
                                                <td><input [(ngModel)]="per.filterquantity" class="form-control"
                                                        [id]="quantity" placeholder="Quantity" [name]="quantity"
                                                        ngControl="filterquantity" #quantity="ngModel">
                                                </td>
                                                <td *ngIf="!isEdit">
                                                    <button title="Remove Details" (click)="removeRows(per);"
                                                        matTooltip="Click to delete" class="btn btn-secondary btn-sm"
                                                        [disabled]="isEdit">
                                                        <i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onSaveEntry('SAVE')" matTooltip="Click to Save"
                    [disabled]="!requestForm.valid">{{isEdit==true?'Update':'Save'}}</button>
                <button type="button" class="btn btn-primary" (click)="resetForm()" *ngIf="!isEdit"
                    matTooltip="Click to Clear">Clear</button>
                <button type="button" class="btn btn-default" style="background-color:rgb(56, 56, 56);color:white;"
                    data-dismiss="modal" [disabled]="isLoadingPop" matTooltip="Click to close modal">Close</button>
            </div>
        </div>
    </div>
</div>