.indicator{
    border-width: 1px;
    text-align: center;
    border-color: darkgray;
    border-style: solid;
    margin: 10px 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
    display: inline-block;
    width: 150px;
}