<section class="content-header">
  <h1 class="display-1">
    Exit Checklist 
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Exit Checklist</li>
  </ol>
</section>

<section class="content">

  <div class="panel panel-info">
    <div class="panel-heading">

      <div class="panel-title"><i class="glyphicon glyphicon-filter"></i> Filter</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group row">
            <label class="col-md-2 control-label text-right">Plant</label>
            <div class="col-md-4">
              <select [(ngModel)]="filterModel.selectedPlantId" class="form-control" id="plant" name="plant" 
              (change)="getPayGroupList()">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pll of plantList" [ngValue]="pll.id">{{pll.code}} - {{pll.name}}</option>
              </select>
            </div>
            <label class="col-md-2 control-label text-right">Pay Group</label>
            <div class="col-md-4">
              <select [(ngModel)]="filterModel.selectedPayGroupId" class="form-control" id="paygroup" name="paygroup"
                matTooltip="paygroup" >
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pl of payGroupList" [ngValue]="pl.id">{{pl.long_Desc}}</option>
              </select>
            </div>
          </div>
            <div class="form-group row">
            <label class="col-md-2 control-label text-right">Employee Category</label>
            <div class="col-md-4">
              <select [(ngModel)]="filterModel.selectedEmployeeCategoryId" class="form-control" id="employeecategory"
                name="employeecategory" matTooltip="employeecategory">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of employeeCategoryList" [ngValue]="cl.id">{{cl.catltxt}}</option>
              </select>
            </div>
            <label class="col-md-2 control-label text-right">Department</label>
            <div class="col-md-4">
              <select [(ngModel)]="filterModel.selectedDepartmentId" class="form-control" id="department" name="department"
               matToolTip="department" >
                <option [ngValue]="null" [selected]="true">All</option>
                <option *ngFor="let dl of departmentList" [ngValue]="dl.id">{{dl.description }} </option>
              </select>
            </div>

          </div>
          <div class="form-group row">
            <label class="col-md-2 control-label text-right">Employee Name/No</label>
            <div class="col-md-4">
                <input name="EmployeeName" class="form-control" id="name" [(ngModel)]="filterModel.EmployeeName" />
            </div>
            <label class="col-md-2 control-label text-right">Title</label>
            <div class="col-md-4">
                <input name="Title" class="form-control" id="name" [(ngModel)]="filterModel.Title" />
            </div>
          </div>
          <div class="form-group row"> 
            <label class="col-md-2 control-label text-right">SPOC Employee Name/No</label>
            <div class="col-md-4">
                <input name="SPOCEmployeeName" class="form-control" id="name" [(ngModel)]="filterModel.SPOCEmployeeName" />
            </div>     
            <label class="col-md-2 control-label text-right">Status</label>
            <div class="col-md-4">
              <select [(ngModel)]="filterModel.selectedStatus" class="form-control" id="status" name="status" #statusEnt="ngModel">
                <option value="null" [selected]="true"> All </option>
                <option *ngFor="let sl of statusList" [ngValue]="sl.type">{{sl.type}}</option>
              </select> 
            </div>        
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary btn-sm" (click)="getCheckList();" matTooltip="click to Go">
              Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-primary"  (click)="exportData()" >Export</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <div class="overlay text-center h3" *ngIf="isLoading">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <table class="table table-hover table-striped table-bordered" id="data">
          <thead>
            <tr>
              <th>Checklist Id</th>
              <th>Status</th>
              <th>Type</th>
              <th>ID</th>
              <th>Title</th>
              <th>Department</th>
              <th>SPOC Employee</th>
              <th>Employee Name</th>
              <th>Relieving Date</th>
              <th class="jobDetails">Plant Code</th>
              <th class="jobDetails">Plant Name</th>
              <th class="jobDetails">Paygroup</th>
              <th class="jobDetails">Category</th>
              <th class="jobDetails">Department</th>
              <th class="jobDetails">Designation</th>
              <th class="jobDetails">Role</th>    
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of filterData.list; let i = index">
              <td>{{item.checklistItemId}} </td>
              <td><span class="label label-default label-{{item.statusColor}}">{{item.status}}</span></td>
              <td>{{item.objectType}} </td>
              <td>{{item.objectId}} </td>
              <td>{{item.title}} </td>
              <td>{{item.checklistDepartmentName}}</td>
              <td>{{item.spocEmployeeFirstName +' '+item.spocEmployeeMiddleName+' '+item.spocEmployeeLastName }} </td>
              <td >{{item.firstName + ' '+ item.middleName +' '+item.lastName}}</td>
              <td>{{item.relievingDate | date:'dd/MM/yyyy'}} </td>
              <td class="jobDetails">{{item.plantCode}} </td>
              <td class="jobDetails">{{item.plantName}} </td>
              <td class="jobDetails">{{item.payGroupName}} </td>
              <td class="jobDetails">{{item.employeeCategoryName}} </td>
              <td class="jobDetails">{{item.departmentName}} </td>
              <td class="jobDetails">{{item.designationName}} </td>
              <td class="jobDetails">{{item.roleName}} </td> 
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <div class="overlay text-center h3" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <ul class="pagination" *ngIf="filterData.totalCount>0">
            <li>
              <a (click)="gotoPage(filterData.pageNo)">
              Showing <b>{{((filterData.pageNo-1)*filterData.pageSize)+1}}</b> - <b>{{(filterData.pageNo*filterData.pageSize)>filterData.totalCount?filterData.totalCount:filterData.pageNo*filterData.pageSize}}</b> of <b>{{filterData.totalCount}}</b> records
              </a>
            </li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(1)">First</a></li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">Previous</a></li>
            <li><a *ngIf="filterData.pageNo>2" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-2}}</a></li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-1}}</a></li>
            <li class="active"><a (click)="gotoPage(filterData.pageNo)">{{filterData.pageNo}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.pageNo+1)">{{filterData.pageNo+1}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo+1" (click)="gotoPage(filterData.pageNo+2)">{{filterData.pageNo+2}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.pageNo+1)">Next</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.totalPages)">Last</a></li>
            <li><a (click)="gotoPage(filterData.pageNo)">Page <b>{{filterData.pageNo}}</b> of <b>{{filterData.totalPages}}</b></a></li>
            <li><a>Page Size 
              <select id="ddlPageSize" [(ngModel)]="filterModel.pageSize" (change)="pageSizeChange()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select></a>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</section>


<!-- Comments Modal -->
