<section class="content-header">
  <h1 class="display-1">
    Guest House Booking
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Guest House Maintenance</li>
  </ol>
</section>
<section class="content">
  <div class="box shadow">
    <div class="box-header">
      <div class="col-xs-6">
        <h3 class="box-title">Guest House Maintenance</h3>
        <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
      </div>
      <div class="col-xs-6">
        <button type="button" matTooltip="Click for add new room" [matTooltipPosition]="'after'"
          class="btn btn-primary pull-right btn-sm" (click)="onaddnewRoom(false,roomInfoModel)"><i class="fa fa-plus"
            aria-hidden="true"></i> Add New Guest House</button>
      </div>
    </div>
    <div class="box-body table-responsive">
      <table id="roomsTable" class="table  table-striped" cellspacing="0">
        <thead style="background-color: #0099cc; color:white;">
          <tr>
            <th class="col-sm-1">SNo</th>
            <th>Name</th>
            <th>Location</th>
            <th class="col-sm-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of roomsInfoList; let i = index">
            <td>{{i+1}}</td>
            <td>{{room.name}}</td>
            <td>{{getLocationName(room.location)}}</td>
            <td>
              <table>
                <tr>
                  <td class="pr-2">
                    <button type="button" [matTooltipPosition]="'after'" matTooltip="Click to Edit Entry"
                    class="btn btn-primary btn-xs" (click)="onaddnewRoom(true,room)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  </td>
                  <td class="pr-2">
                    <button type="button" [matTooltipPosition]="'after'" matTooltip="Click to delete Entry"
                    class="btn btn-primary btn-xs" (click)="deleteRoomDetails(room)">
                    <i class="fas fa-trash"></i>
                  </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" (click)="openAuditLogs(room.id)">
                      <i class="fa fa-history"></i>
                    </button>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="overlay" *ngIf="isLoading">
      <i class="fa fa-spinner fa-pulse"></i>
    </div>
  </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #68a7d2;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{isEdit==true?'Update':'New Guest House'}}
        </h3>
      </div>
      <div class="modal-body" style="box-shadow: none;">
        <div class="row">
          <div class="overlay" *ngIf="isLoadingPop">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <div class="col-sm-12">
            <form #meetingroomForm="ngForm">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="(roomNameEnt.touched && !roomNameEnt.valid)?'has-error':''">
                      <label for="roomName">
                        Name<span style="color:red">*</span>
                      </label>
                      <input [(ngModel)]="roomInfoModel.name" ngControl="roomInfoModel.name" class="form-control"
                        id="roomName" placeholder="Name" matTooltip="Name" name="roomName" #roomNameEnt="ngModel"
                        required (change)="roomInfoModel.name=roomInfoModel.name.trim()">
                      <span class="help-block" *ngIf="roomNameEnt.touched && !roomNameEnt.valid">Please
                        enter Name</span>
                    </div>
                    <div class="form-group" [ngClass]="(no_Of_RoomEnt.touched && !no_Of_RoomEnt.valid)?'has-error':''">
                      <label for="Capacity">
                        Number of Rooms<span style="color:red">*</span>
                      </label>
                      <input type="number" min="1" [(ngModel)]="roomInfoModel.no_Of_Room" matTooltip="no Of Rooms"
                        ngControl="roomInfoModel.no_Of_Room" class="form-control" id="no_Of_Room"
                        (keypress)="keyPressNumber($event)" placeholder="Number of Rooms" name="no_Of_Room"
                        #no_Of_RoomEnt="ngModel" required>
                      <span class="help-block" *ngIf="no_Of_RoomEnt.touched && !no_Of_RoomEnt.valid">Please
                        enter number of rooms</span>
                    </div>
                    <div class="form-group"
                      [ngClass]="(addressEnt.touched && !addressEnt.valid)?'has-error':''">
                      <label for="address">
                        Address <span style="color:red">*</span>
                      </label>
                      <textarea [(ngModel)]="roomInfoModel.address" ngControl="roomInfoModel.address"
                        class="form-control" matTooltip="Address" placeholder="Address" id="address"
                        name="address" #addressEnt="ngModel" required
                        (change)="roomInfoModel.address=roomInfoModel.address.trim()"></textarea>
                      <span class="help-block" *ngIf="addressEnt.touched && !addressEnt.valid">Please enter
                        address</span>
                    </div>
                    <div class="form-group"
                      [ngClass]="((selParentRole==null || selParentRole=='' || selParentRole==undefined)  && !notFirst)?'has-error':''">
                      <label for="parentId">
                       Admin <span style="color:red">*</span>
                      </label><br>
                      <ng-select [items]="empMListCon" (blur)="checkStatus();" bindLabel="name" required name="parentDes" bindValue="id"
                        [multiple]="false" [virtualScroll]="true" placeholder="Select admin" [(ngModel)]="selParentRole">
                      </ng-select>
                      <span class="help-block"
                        *ngIf="(selParentRole==null || selParentRole=='' || selParentRole==undefined) && !notFirst">Please
                        Select Admin
                        type</span>
                    </div>
                    <div class="form-group" [ngClass]="(!reason.valid && reason.touched)?'has-error':''">
                      <label for="reason"> Audit Reason<span style="color:red">*</span></label>
                      <textarea type="text" class="form-control" name="reason" id="reason" placeholder="Audit Reason"
                        [(ngModel)]="aduitpurpose" ngControl="aduitpurpose" (change)="aduitpurpose=aduitpurpose.trim()"
                        #reason="ngModel" required></textarea>
                      <span class="help-block" *ngIf="!reason.valid && reason.touched">Please Enter audit Reason.</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="(selectedItems.length<0 && isSelect)?'has-error':''">
                      <label for="facilities">
                        Room facilities<span style="color:red">*</span>
                      </label>
                      <ng-multiselect-dropdown id="facilities" name="facilities" matTooltip="room facilities"
                        #facilitiesEnt="ngModel" [placeholder]="'select facilities(multiple)'"
                        [data]="roomsFacilityList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                        (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                        (onSelectAll)="onSelectAll($event)" required>
                      </ng-multiselect-dropdown>
                      <span class="help-block" *ngIf="selectedItems.length<0 && isSelect">Please
                        Select
                        Room facilities</span>
                    </div>
                    <!-- <div class="form-group">
                      <label for="Location">
                        Location
                      </label>
                      <input [(ngModel)]="currentLocation" ngControl="currentLocation" class="form-control"
                        id="location" placeholder="Location" name="location" #locationEnt="ngModel" readonly>
                    </div> -->
                    <div class="form-group" [ngClass]="(no_Of_BedEnt.touched && !no_Of_BedEnt.valid)?'has-error':''">
                      <label for="Capacity">
                        Number of Beds<span style="color:red">*</span>
                      </label>
                      <input type="number" min="1" [(ngModel)]="roomInfoModel.no_Of_Bed" matTooltip="number Of beds"
                        ngControl="roomInfoModel.no_Of_Bed" class="form-control" id="no_Of_Bed"
                        (keypress)="keyPressNumber($event)" placeholder="Number of beds" name="no_Of_Bed"
                        #no_Of_BedEnt="ngModel" required>
                      <span class="help-block" *ngIf="no_Of_BedEnt.touched && !no_Of_BedEnt.valid">Please
                        enter number of beds</span>
                    </div>
                    <div class="form-group"
                      [ngClass]="(descriptionEnt.touched && !descriptionEnt.valid)?'has-error':''">
                      <label for="description">
                        Description<span style="color:red">*</span>
                      </label>
                      <textarea [(ngModel)]="roomInfoModel.description" ngControl="roomInfoModel.description"
                        class="form-control" matTooltip="description" placeholder="Description" id="description"
                        name="description" #descriptionEnt="ngModel" required
                        (change)="roomInfoModel.description=roomInfoModel.description.trim()"></textarea>
                      <span class="help-block" *ngIf="descriptionEnt.touched && !descriptionEnt.valid">Please enter
                        Description</span>
                    </div>
                    <div class="form-group" [ngClass]="(locationEnt.touched && !locationEnt.valid)?'has-error':''">
                      <label for="location">
                        Location <span style="color:red">*</span>
                      </label>
                      <select [(ngModel)]="sltghlocation" class="form-control" id="location" name="location"
                        matTooltip="Purpose" #locationEnt="ngModel" required>
                        <option [ngValue]="null" disabled [selected]="true"> Select Location </option>
                        <option *ngFor="let pl of ghlocationList" [ngValue]="pl">{{pl.name}}</option>
                      </select>
                      <span class="help-block" *ngIf="locationEnt.touched && !locationEnt.valid">Please select location</span>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="pictures">
                        Add Pictures<span style="color:red">*</span>
                      </label>
                      <input type="file" #file placeholder="Choose file" (change)="uploadFiles($event)"
                        style="display:none;" multiple accept="image/*">
                      &nbsp;&nbsp;<button type="button" class="btn btn-success btn-sm"
                        (click)="file.click()">Upload</button>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div *ngIf="images?.length > 0">
                      <table class="table table-striped" cellspacing="0">
                        <thead class="bg-primary">
                          <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let image of images">
                            <td><img [src]="image.url" style="width: 30px; height: 30px; border-radius:50%;" /></td>
                            <td>{{image.name}}</td>
                            <td><a href="javascript:void(0)" (click)="deleteImage(image)"><i
                                  class="fa fa-trash"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i class="fa fa-warning"></i>{{errMsgPop}}</span>
        <button type="button" class="btn btn-primary" [matTooltipPosition]="'below'" matTooltip="Click to Save/Update"
          [disabled]="isLoadingPop ||!meetingroomForm.valid"
          (click)="onSaveRoomDetails()">{{isEdit==true?'Update':'Save'}}</button>
        <button type="button" class="btn btn-default btn-outlined" [matTooltipPosition]="'below'" matTooltip="Click to Close"
          style="background-color:darkgray;color:white;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" style="color: #0FB381; text-align: center;"><span class="text pull-center"
            *ngIf="errMsgModalPop.length>0"><i class="fa fa-check"></i>{{errMsgModalPop}}</span></h3>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
</div>
<!-- Audit Modal -->
<div id="auditModal" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title">Audit history</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" id="auditTable">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Action</th>
              <th>ActionBy</th>
              <th>DateTime</th>
              <th>KeyField</th>
              <th>Changes</th>
              <th>Reason</th>
            </tr>
          </thead>
          <!-- <ng-container > -->
          <tbody>
            <tr *ngFor="let item of auditLogList;let i = index">
              <td>{{auditLogList.length - i + '.0'}}</td>
              <td class="col-sm-1">{{item.auditType}}</td>
              <td class="col-sm-1">{{item.aduitUser}}</td>
              <td class="col-sm-1">{{item.auditDateTime | date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="col-sm-1">{{item.keyValue}}</td>
              <td class="col-sm-4">
                <table class="table table-bordered" style="margin-bottom: 0;">
                  <tr>
                    <th>Field name</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </tr>
                  <tr *ngFor="let ch of objParser(item.changes)">
                    <td>{{ch.fieldname}}</td>
                    <td>{{ch.oldvalue}}</td>
                    <td>{{ch.newvalue}}</td>
                  </tr>
                </table>
              </td>
              <td class="col-sm-4">{{item.purpose}}</td>
            </tr>
          </tbody>
          <!-- </ng-container> -->
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
