<!-- <div class="navbar">
    <img src="../../../assets/dist/img/final.png" style="text-align:right; float:left;" class="logo"/>
  </div> -->
<div id="home-section">
  <div class="loginColumns animated fadeInDown">
    <div class="row" style="color:gray; margin:auto">
      <!-- <div class="d-none col-md-6 ">
        <h2 class="font-bold">
          Welcome to Performance Management
        </h2>
        <p style="font-size:11px;">
          Performance Management is completly cloud base application.
      </p> <p style="font-size:11px;">
          Automate and simplify your HR operations with our easy-to-use and customizable HR software. Performance Management application, allows you to save time for your work creating a better workplace.
        </p>
      <ul style="font-size:12px; padding-left: 5%;">
        <li>
          Cloud Applciaiton with no software / hardware installation.
        </li>
        <li>
          Attendance Management App
        </li>
        <li>
          Leave Management App
        </li>
        <li>
          Employee Information System App
        </li>
        <li>
          Performance Management App
        </li>
        <li>
          Learning & Development App
        </li>
        <li>
         Recruitment Management App
        </li>
        <li>
          Induction Management App
         </li>
         <li>
          Payroll Management App
         </li>
        <li>
          Fully customizable message board.
        </li>
        <li>
          Complaint logging and tracking.
        </li>
      </ul>
      </div> -->
      <div class="col-md-6" style="color:gray; margin:auto">
        <div class="ibox-content shadow"
          style="border-radius:5px;background-color:rgba(250, 245, 245, 0.3);color:rgb(253, 252, 252)">
          <form action="../../index2.html" method="post">
            <div class="m-t" role="form">

              <img src="../../../assets/dist/img/avtp1.png" style="margin:auto; display:block;" class="mb-3" />
              <h2 class="text-white  mb-4"
              style="text-align: center; font-family:calibri;">Forgot Password</h2>
              <!-- <h2 class="text-white  mb-4">Forgot Password</h2> -->
              <div class="form-group">
                <span class="help-block" style="color:#f76868; font-weight: 800">{{errMsg1}}</span>
              </div>
              <div class="form-group">
                <span class="help-block" style="color:black; font-weight:bold">{{emailMsg1}}</span>
              </div>
              <div class="form-group has-feedback">
                <label for="dParentId"><i class="fa fa-times-circle-o"></i> Employee Id<span
                    style="color:red">*</span></label>
                <input type="text" class="form-control" style="color: grey;" placeholder="Employee Id" name="employeeId"
                  [(ngModel)]="passwordData.employeeId" id="employeeId" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <!--<span class="help-block" *ngIf="!username.valid && username.touched">Please Enter Customer Name.</span>-->
              </div>
              <div class="form-group has-feedback">
                <label for="newpassword"><i class="fa fa-times-circle-o"></i>New Password<span
                    style="color:red">*</span></label>
                <input type="password" class="form-control" style="color: grey;" placeholder="New Password" name="newpassword"
                  [(ngModel)]="newpassword" id="newpassword"#dname="ngModel"
                  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" required>
                  <span class="help-block" style="color:red" *ngIf="!dname.valid && dname.touched">Password should be atleast 8 characters long
                    and should contain one number,one character and one special
                    character.</span>
                <!--<span class="help-block" *ngIf="!username.valid && username.touched">Please Enter Customer Name.</span>-->
              </div>
              <div class="form-group has-feedback">
                <label for="confirmpassword"><i class="fa fa-times-circle-o"></i> Confirm Password<span
                    style="color:red">*</span></label>
                <input type="password" class="form-control" style="color: grey;" placeholder="Confirm Password" name="confirmpassword"
                  [(ngModel)]="confirmpassword" id="confirmpassword" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <!--<span class="help-block" *ngIf="!username.valid && username.touched">Please Enter Customer Name.</span>-->
              </div>
              <!-- <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="loginData.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div> -->
              <br />
              <button type="submit" class="btn btn-login btn-block btn-flat" (click)="forgotpassword()"><i class="fa fa-spinner fa-pulse" *ngIf="isLoading"></i>Submit</button>
              <hr />

              <div class="row">
                <div class="col-sm-7" style="padding-bottom:10px;">
                  <a href="#/login?returnUrl=%2Finitpage" style="color: white;font-size: 1.1em;"><i class="glyphicon glyphicon-log-in"></i> Click to login</a>
                </div>

                <!-- /.col -->
                <!-- <div class="col-sm-5" style="text-align:right;">
                  <a>Need Help?</a>
                </div> -->
              </div>
              <p class="text-muted text-center">

                <span ID="lblAfter" Visible="false" runat="server"></span>
                <span ID="lblBefore" Visible="false" runat="server"></span>
              </p>
            </div>
            <p class="m-t" style="text-align:center;">
              <small> </small>

            </p>

            <div class="row" *ngIf="errMsg.length>0">
              <div class="col-xs-12">
                <div class="alert alert-warning alert-dismissible">
                  <h4><i class="icon fa fa-warning"></i> Something went wrong!</h4>
                  {{errMsg}}
                </div>
              </div>
            </div>

          </form>

          <!-- <div class="overlay" *ngIf="isLoading">
             <i class="fa fa-spinner fa-pulse"></i>
          </div> -->

        </div>
      </div>
      <!-- <div style="float:right;">
      <div class="sticky-container" style=" margin-right:-45%;">
        <ul class="sticky" style="color:white;">
            <li >
                <p><a style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"> <img src="../../../assets/dist/img/sf.png" width="32" height="32" style="margin-bottom: 2px;">  Successfactor </a></p>
            </li>
            <li style="color:white;">
                <p><a style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"><img src="../../../assets/dist/img/clock.png" width="32" height="32" style="margin-bottom: 2px;">iTimer<br> <span>Click to Navigate</span></a></p>
            </li>
            <li style="color:white;">
                <p><a style="color:white;" href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=4345a7b9-9a63-4910-a426-35363201d503&response_mode=form_post&response_type=code+id_token&scope=openid+profile&state=OpenIdConnect.AuthenticationProperties%3dAKTamSLkOQhruZ7L0xpBv5CR-N2_IQ5Bf_5NZdK4-465bVcLbn7Kv14JB59qOCu6FcSOY_YHpJfS4UkZ_mkrPFE-tZ9uDfWsXMJWSQrU7yxe-9ZIji3cNbLL8z0p5mYn2o3zhlAKR4JRZoKmixh4CktpXwQz9NZzxnAjcj11QTDCdYXKS7uFvk2bkxL0uGajcebx4qHBdtqYE0qDuNpGLQ&nonce=636837393593458490.YjdkYWFmNjYtYzUxNy00NmRmLTliOWMtNTAwYzQ1ZjViODgwNDllZjlkZDUtN2VmOC00ZWY4LWI0YWEtYjNmZTYxN2YxOGE1&redirect_uri=https%3a%2f%2fwww.office.com%2f&ui_locales=en-US&mkt=en-US&client-request-id=2122000c-c57a-4387-bd99-982ee5a88188&prompt=select_account" target="_blank"><img src="../../../assets/dist/img/mailbox1.png" class="text-primary" width="32" height="32" style="margin-bottom: 2px;">JKT Mail<br> <span>Click to Navigate</span></a></p>
            </li>
            <li>
                <p><a style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"><img src="../../../assets/dist/img/list.png" width="32" height="32" style="margin-bottom: 2px;">iTimer<br> <span>Click to Navigate</span></a></p>
            </li>
            <li>
                <p><a  style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"><img src="../../../assets/dist/img/list.png" width="32" height="32" style="margin-bottom: 2px;">iTimer<br> <span>Click to Navigate</span></a></p>
            </li>
        </ul>
    </div></div> -->
    </div>
    <hr style="width:50%;" class="glow mt-5">
    <h4 style="text-align:center;color: white;">© 2022 Micro Labs Limited</h4>
    <!-- <hr />
    <div class="row">
      <div class="col-md-6">
        HRMS | Performance Management |Provided by JKT.
      </div>

      <div class="col-md-6 text-right">

        <small>©Copyright JKT 2019</small>
      </div>
    </div> -->
  </div>
</div>
