<section class="content-header">
  <h1 class="display-1">
    Print Appointment Letter
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Print Appointment Letter</li>
  </ol>
</section>
<section class="content">
  <div class="overlay text-center h3" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
  <div>
    <div class="row actionButtons">
      <div class="col-xs-2 text-right">
        <button type="button" (click)="goBack()" class="btn btn-sm btn-default" [matTooltipPosition]="'after'"
        matTooltip="Click to go back to list">
          <i class="fas fa-arrow-left"></i> Back
        </button>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <label class="col-md-4"> Print Template <span style="color:red">*</span></label>
          <div class="col-md-6">
              <select class="form-control" id="printTemplateId" [(ngModel)]="selectedTemplateId"
              ngControl="selectedTemplateId" name="printTemplateId" #printTemplateEnt="ngModel" required>
              <option [ngValue]="null" disabled [selected]="true"> Select print template </option>
              <option *ngFor="let pl of printTemplates" [ngValue]="pl.printTemplateId">{{pl.templateName}}</option>
            </select>
            <span class="help-block" *ngIf="printTemplateEnt.touched && !printTemplateEnt.valid">
              Please select a value</span>                 
          </div>
          <div class="col-sm-2">
            <button type="button" (click)="getLetter()" class="btn btn-sm btn-success" [matTooltipPosition]="'after'"
            matTooltip="Click to get the letter" [disabled]="isLoading">
            Get</button>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
       
        <button type="button" (click)="print1()" class="btn btn-sm btn-info" [matTooltipPosition]="'after'"
          matTooltip="Click to print the letter" [disabled]="isLoading" *ngIf="canPrint">
          <i class="fas fa-print"></i> Print
        </button>
        <button type="button" (click)="download()" class="btn btn-sm btn-warning" [matTooltipPosition]="'after'"
          matTooltip="Click to download the letter" [disabled]="isLoading" *ngIf="canDownload">
          <i class="fas fa-download"></i> Download
        </button>
        <button type="button" (click)="sendEmail()" class="btn btn-sm btn-success" [matTooltipPosition]="'after'"
          matTooltip="Click to send the letter" [disabled]="isLoading" *ngIf="canEmail">
          <i class="fas fa-arrow-right"></i> Send
        </button>
        <div class="form-group checkbox">
          <label >
            <input type="checkbox" [(ngModel)]="removeSignature" name="removeSignature" *ngIf="canPrint"/> Remove Signature
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="printable" style="font-family:'Times-Roman', Times, serif">
    <div class="panel panel-default" id="printable">
      <div class="panel-body" id="pdfcontent">
        <div >
        <div [innerHTML]="details.content | safeHtml"></div>
      </div>
      </div>      
    </div>    
    <div id="print-footer">
      <span>
        Please note that your remuneration package is strictly Confidential between you and the Organization and any breach of this confidentiality on your part would be viewed seriously.
        <br/>{{details.appointmentNo}} - {{details.candidateName}}</span>
    </div>
  </div>
</section>