@media print {
    /* Hide everything in the body when printing... */
    body.printing * { display: none; }
    /* ...except our special div. */
    body.printing .printable { display: block; }
}


#pdfcontent img{
    display: block;
    }