<section class="content-header">
  <h1 class="display-1">
    Edit Service Withdrawn Details
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Edit Service Withdrawn Details</li>
  </ol>
</section>
<section class="content">

  <app-employee-quick-view [employeeId]="employeeId" *ngIf="employeeId>0"></app-employee-quick-view>

  <div class="overlay text-center h3" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>

  <ul class="nav nav-tabs">
    <li [ngClass]="currentTab=='details'?'active':''" id="tab_details"><a (click)="onTabClick(0)">Details</a></li>
    <li [ngClass]="currentTab=='attachments'?'active':''" id="tab_checklist"><a (click)="onTabClick(1)">Attachments</a></li>
    <li [ngClass]="currentTab=='checklist'?'active':''" id="tab_checklist"><a (click)="onTabClick(2)">Checklist</a></li>
    <li [ngClass]="currentTab=='exitinterview'?'active':''" id="tab_exitinterview"><a (click)="onTabClick(3)">Exit
        Interview</a></li>

  </ul>

  <div class="details-tab">
    <div *ngIf="currentTab=='details'">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Service Withdrawn Details</h3>
        </div>
        <div class="panel-body form-horizontal">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="Service WithdrawnDate">Service Withdrawn Status</label>
                <div class="col-md-8">
                  <span class="label label-lg label-{{isRejected?'danger':'warning'}}">{{terminationStatus}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4">Notice Period</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="noticePeriod" [(ngModel)]="noticePeriod"
                    [disabled]="true" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="reason"> Reason<span style="color:red">*</span></label>
                <div class="col-md-8">
                  <select [(ngModel)]="terminationDetails.reason" class="form-control" id="reason" name="reason"
                    matTooltip="Reason For Termination" #reasonEnt="ngModel" required>
                    <option [ngValue]="null" disabled [selected]="true"> Select Reason </option>
                    <option *ngFor="let pl of reason" [ngValue]="pl.type">{{pl.type}}</option>
                  </select>
                  <span class="help-block" *ngIf="reasonEnt.touched && !reasonEnt.valid">Please Select Reason</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="terminationDate">Service Withdrawn Date</label>
                <div class="col-md-8">
                  <input [matTooltipPosition]="'below'" matTooltip="Click to change last working date"
                    [owlDateTime]="dt11" id="terminationDate" #joiningDateEnt="ngModel"
                    placeholder="Termination Date" [owlDateTimeTrigger]="dt11" name="terminationDate"
                    class="form-control" [(ngModel)]="terminationDetails.terminationDate">
                  <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
                </div>
              </div>
            </div>

          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="reasonNotes">Payout Months</label>
                <div class="col-md-8">
                  <input type="number" [(ngModel)]="terminationDetails.payoutMonths" class="form-control"
                    id="payoutMonths" name="payoutMonths" #payoutMonthsEnt="ngModel" required minlength="1"
                    maxlength="4" />
                  <span class="help-block" *ngIf="payoutMonthsEnt.touched && !payoutMonthsEnt.valid">Please
                    enter Effective year</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="reasonNotes">Additional Notes</label>
                <div class="col-md-8">
                  <textarea [matTooltipPosition]="'below'"
                    matTooltip="Input Notes For Service Withdrawn(Max 1000 Chars)"
                    [(ngModel)]="terminationDetails.additionalNotes" class="form-control"
                    id="reasonNotes" name="reasonNotes"
                    #reasonNotes="ngModel" maxlength="1000"></textarea>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <app-employee-attachments [objectId]="terminationId" [objectType]="this.objectType" [employeeId]="this.employeeId" 
    [editAllowed]="true" [deleteAllowed]="false" *ngIf="currentTab=='attachments'"></app-employee-attachments>

    <app-termination-checklist [terminationId]="terminationId" [editAllowed]="false"
      *ngIf="currentTab=='checklist'"></app-termination-checklist>

      <app-exit-interview [terminationId]="terminationId" [editAllowed]="true"
      *ngIf="currentTab=='exitinterview'"></app-exit-interview>

  

  </div>

  <div class="row">
    <div class="col-md-12 text-center actionButtons">
      <button type="button" (click)="Back()" class="btn btn-default" [matTooltipPosition]="'after'"
          matTooltip="Click to go back to list">
            <i class="fas fa-arrow-left"></i> Back
          </button> 
          <button *ngIf="isRejected" type="button" class="btn btn-success" (click)="submit()"
          matTooltip="Click to Re-Submit Service Withdrawn" [disabled]="isLoading">Re-Submit</button>
    </div>
  </div>

  <div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tabApprovals">Approvals</a>
      </li>
      <li>
        <a data-toggle="tab" href="#tabActivity">Activity</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="tabApprovals" class="tab-pane fade in active">
        <app-flow-viewer [objectId]="this.terminationId" [objectType]="this.objectType">
        </app-flow-viewer>
      </div>
      <div id="tabActivity" class="tab-pane fade">
        <app-activity-viewer [objectId]="this.terminationId" [objectType]="this.objectType">
        </app-activity-viewer>
      </div>
    </div>
  </div>
</section>

<!-- Comments Modal -->
<div id="CommentsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Enter Comments</h4>
        </div>
        <div class="modal-body">
           <label>Comments</label>
           <textarea rows="3" class="form-control" [(ngModel)]="comments"></textarea>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" (click)="performTask()">Submit</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
     </div>
  </div>
</div>