<section class="content-header">
    <h1 class="display-1">
        Dashboard
        <small> ITAMS </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    </ol>
</section>

<!--Main Content-->
<section class="content">
    <div class="box">
        <div class="box-header">
            <div id="datefilterPanel">
                <div class="col-sm-12">
                    <div class="card-body" style="border: black; box-shadow: grey;">
                        <form #filterForm="ngForm">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group form-group-sm">
                                        <label for="location"> Location <span style="color:red">*</span></label>
                                        <select [(ngModel)]="dashboardlocation" class="form-control" id="location"
                                            name="location" ngControl="dashboardlocation" #locationEnt="ngModel"
                                            matTooltip="Select location">
                                            <option [ngValue]="undefined" disabled>--Select an Option--
                                            </option>
                                            <option *ngFor="let status of plantList" value={{status.code}}>
                                                {{status.code}}-{{status.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group form-group-sm">
                                        <label for="category">Category<span style="color:red">*</span></label>
                                        <select [(ngModel)]="dashboardcategory" class="form-control" id="category"
                                            name="category" ngControl="dashboardcategory" #categoryEnt="ngModel"
                                            matTooltip="Select category" required>
                                            <option [ngValue]="undefined" disabled>--Select an Option--</option>
                                            <option *ngFor="let mat of catList" value={{mat.catName}}>
                                                {{mat.catName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group form-group-sm">
                                        <label for="usagetype">Usage Type</label>
                                        <select [(ngModel)]="dashboardusage" class="form-control" id="usage"
                                            name="usage" ngControl="dashboardusage" #usageEnt="ngModel"
                                            matTooltip="Select UsageType" required>
                                            <option [ngValue]="undefined" disabled>--Select an Option--</option>
                                            <option>User</option>
                                            <option>Instrument</option>
                                            <option>Common</option>
                                            <option>Field Staff</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group form-group-sm">
                                        <label for="assetstate">Asset State</label>
                                        <select [(ngModel)]="dashboardassetstate" class="form-control" id="assetstate"
                                            name="assetstate" ngControl="dashboardassetstate" #assetstateEnt="ngModel"
                                            matTooltip="Select Asset State" required>
                                            <option [ngValue]="undefined" disabled>--Select an Option--</option>
                                            <option *ngFor="let mat of assStateList" value={{mat.id}}>
                                                {{mat.status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>&nbsp;</label>
                                    <div class="form-group form-group-sm">
                                        <button class="btn btn-primary btn-sm" [disabled]="!filterForm.touched"
                                            (click)="getAllEntries();" matTooltip="click to go">Go</button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-primary btn-sm" (click)="clearFilter();"
                                            matTooltip="click to reset">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="box-body table-responsive">
            <table id="userTable" class="table table-bordered table-hover" cellspacing="0">
                <thead style="background-color: #0099cc; color:white;">
                    <tr>
                        <th>#</th>
                        <th>Location</th>
                        <th>Asset Id</th>
                        <th>Asset No</th>
                        <th>Employee Number </th>
                        <th *ngIf="dashboardusage == 'Instrument'">Instrument Name</th>
                        <th *ngIf="dashboardusage == 'Common'">Common Dept</th>
                        <th *ngIf="dashboardusage == 'Common'">Common Floor</th>
                        <th>Model</th>
                        <th>Manufacturer</th>
                        <th>Processor</th>
                        <th>RAM</th>
                        <th>HDD</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of assetList; let i = index">
                        <td>{{i+1}}</td>
                        <td><b>{{item.location}}</b></td>
                        <td>{{item.assetId}}</td>
                        <td>{{item.assetNo}}</td>
                        <td>{{item.empNo}}</td>
                        <td *ngIf="dashboardusage == 'Instrument'">{{item.instName}}</td>
                        <td *ngIf="dashboardusage == 'Common'">{{item.comDept}}</td>
                        <td *ngIf="dashboardusage == 'Common'">{{item.comFloor}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.manufacturer}}</td>
                        <td>{{item.processor}}</td>
                        <td>{{item.ram}} {{getStorageSize(item.ramSize)}}</td>
                        <td>{{item.hdd}} {{getStorageSize(item.sizeType)}}</td>
                        <td>
                            <table>
                                <tr>
                                    &nbsp;
                                    <td>
                                        <button type="button" matTooltip="Click to view details"
                                            class="btn btn-primary btn-xs" (click)="onUserActions(item,false,'View')">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="overlay" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #68a7d2;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title"> <i>Asset Data & Status</i>
                </h3>
            </div>
            <div class="modal-body box-primary" style="box-shadow: none;">
                <form #dataForm="ngForm" (keydown.enter)="$event.preventDefault()">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="assetId"> Asset Id <span style="color:red">*</span></label>
                                <input [(ngModel)]="AssetDashboard.assetId" class="form-control" placeholder="Asset Id"
                                    name="assetId" id="assetId" ngControl="AssetDashboard.assetId"
                                    #assetIdEnt="ngModel" readonly="true" disabled>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="assetNo"> Asset No. <span style="color:red">*</span></label>
                                <input [(ngModel)]="AssetDashboard.assetNo" class="form-control" id="assetNo"
                                    placeholder="Max of 35 chars." name="assetNo" ngControl="AssetDashboard.assetNo"
                                    #assetNoEnt="ngModel" disabled>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="location"> Location </label>
                                <input class="form-control input-sm" type="text" name="location"
                                    [(ngModel)]="AssetDashboard.location" placeholder="Location" [value]="location"
                                    maxlength="80" [disabled]="isDisabled" id="location" matTooltip="Enter Location"
                                    ngControl="AssetDashboard.location" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="category">Category</label>
                                <input class="form-control input-sm" type="text" name="category"
                                    [(ngModel)]="AssetDashboard.category" placeholder="Category" [value]="category"
                                    maxlength="80" [disabled]="isDisabled" id="category" matTooltip="Enter Category"
                                    ngControl="AssetDashboard.category" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="barcode"> Barcode </label>
                                <input class="form-control input-sm" type="text" name="barcode"
                                    [(ngModel)]="AssetDashboard.barcode" placeholder="Barcode" [value]="barcode"
                                    maxlength="80" [disabled]="isDisabled" id="barcode" matTooltip="Enter Barcode"
                                    ngControl="AssetDashboard.barcode" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="model"> Model </label>
                                <input class="form-control input-sm" type="text" name="model"
                                    [(ngModel)]="AssetDashboard.model" placeholder="Model" [value]="model" maxlength="80"
                                    [disabled]="isDisabled" id="model" matTooltip="Enter Model"
                                    ngControl="AssetDashboard.model" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="manufacturer"> Manufacturer </label>
                                <input class="form-control input-sm" type="text" name="manufacturer"
                                    [(ngModel)]="AssetDashboard.manufacturer" placeholder="Manufacturer"
                                    ngControl="AssetDashboard.manufacturer" [value]="manufacturer" maxlength="80"
                                    [disabled]="isDisabled" id="manufacturer" matTooltip="Enter Manufacturer"
                                    readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="partNo"> Part No.</label>
                                <input class="form-control input-sm" type="text" name="partNo"
                                    [(ngModel)]="AssetDashboard.partNo" placeholder="Part No" [value]="partNo"
                                    maxlength="80" [disabled]="isDisabled" id="partNo" matTooltip="Enter Part No"
                                    ngControl="AssetDashboard.partNo" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="serialNo"> Serial No. </label>
                                <input class="form-control input-sm" type="text" name="serialNo"
                                    [(ngModel)]="AssetDashboard.serialNo" placeholder="Serial No" [value]="serialNo"
                                    ngControl="AssetDashboard.serialNo" maxlength="80" [disabled]="isDisabled"
                                    id="serialNo" matTooltip="Enter Serial No" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="processor"> Processor </label>
                                <input class="form-control input-sm" type="text" name="processor"
                                    [(ngModel)]="AssetDashboard.processor" placeholder="Processor" [value]="processor"
                                    ngControl="AssetDashboard.processor" maxlength="80" [disabled]="isDisabled"
                                    id="processor" matTooltip="Enter Processor" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-xs-1" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="ram"> RAM</label>
                                <input class="form-control input-sm" type="text" name="ram"
                                    [(ngModel)]="AssetDashboard.ram" placeholder="Ram" [value]="ram" maxlength="80"
                                    ngControl="AssetDashboard.ram" [disabled]="isDisabled" id="ram"
                                    matTooltip="Enter Ram" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-xs-1" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="hdd"> HDD.</label>
                                <input class="form-control input-sm" type="text" name="hdd"
                                    [(ngModel)]="AssetDashboard.hdd" placeholder="HDD" [value]="hdd" maxlength="80"
                                    ngControl="AssetDashboard.hdd" [disabled]="isDisabled" id="hdd"
                                    matTooltip="Enter Hdd" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="ipAddress"> IP Address</label>
                                <input class="form-control input-sm" type="text" name="ipAddress"
                                    [(ngModel)]="AssetDashboard.ipAddress" placeholder=" IP Address" [value]="ipAddress"
                                    ngControl="AssetDashboard.ipAddress" maxlength="80" [disabled]="isDisabled" id="ipAddress"
                                    matTooltip="Enter ipAddress" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-sm">
                                <label for="gxp"> GxP Applicable </label>
                                <input class="form-control input-sm" type="text" name="gxp"
                                    [(ngModel)]="AssetDashboard.gxPApplicable" placeholder="GxP" [value]="gxp"
                                    maxlength="80" ngControl="AssetDashboard.gxPApplicable" [disabled]="isDisabled"
                                    id="gxp" matTooltip="Enter GxP" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                <label for="config"> Configurations. </label>
                                <input class="form-control input-sm" type="text" name="config"
                                    [(ngModel)]="AssetDashboard.config" placeholder="Config" [value]="config"
                                    ngControl="AssetDashboard.config" maxlength="80" [disabled]="isDisabled" id="config"
                                    matTooltip="Enter Config" readonly="true" disabled />
                            </div>
                        </div>
                    </div>
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                    <div class="row">
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="monitorType"> Monitor Type </label>
                                <select [(ngModel)]="AssetDashboard.monitorType" class="form-control" id="monitorType"
                                    name="monitorType" ngControl="AssetDashboard.monitorType"
                                    matTooltip="Select Monitor Type" disabled>
                                    <option [ngValue]="null" disabled>--Select an Option--
                                    </option>
                                    <option *ngFor="let type of monType" value={{type.type}}>
                                        {{type.type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="make"> Make </label>
                                <input class="form-control input-sm" type="text" name="make"
                                    [(ngModel)]="AssetDashboard.make" placeholder="make" [value]="make" maxlength="80"
                                    [disabled]="isDisabled" id="make" matTooltip="Enter make"
                                    ngControl="AssetDashboard.make" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="size"> Size </label>
                                <input class="form-control input-sm" type="text" name="size"
                                    [(ngModel)]="AssetDashboard.size" placeholder="size" [value]="size" maxlength="80"
                                    [disabled]="isDisabled" id="size" matTooltip="Enter size"
                                    ngControl="AssetDashboard.size" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="keyboard"> Keyboard </label>
                                <input class="form-control input-sm" type="text" name="keyboard"
                                    [(ngModel)]="AssetDashboard.keyboard" placeholder="keyboard" [value]="keyboard"
                                    maxlength="80" [disabled]="isDisabled" id="keyboard" matTooltip="Enter keyboard"
                                    ngControl="AssetDashboard.keyboard" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Computers'">
                            <div class="form-group form-group-sm">
                                <label for="mouse"> Mouse </label>
                                <input class="form-control input-sm" type="text" name="mouse"
                                    [(ngModel)]="AssetDashboard.mouse" placeholder="mouse" [value]="mouse" maxlength="80"
                                    [disabled]="isDisabled" id="mouse" matTooltip="Enter mouse"
                                    ngControl="AssetDashboard.mouse" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Printer'">
                            <div class="form-group form-group-sm">
                                <label for="ppm"> Pages Per Minute (ppm) </label>
                                <input class="form-control input-sm" type="text" name="ppm"
                                    [(ngModel)]="AssetDashboard.ppm" placeholder="size" [value]="ppm" maxlength="80"
                                    [disabled]="isDisabled" id="ppm" matTooltip="Enter ppm"
                                    ngControl="AssetDashboard.ppm" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Printer'">
                            <div class="form-group form-group-sm">
                                <label for="machineLife"> Machine Life </label>
                                <input class="form-control input-sm" type="text" name="machineLife"
                                    [(ngModel)]="AssetDashboard.machineLife" placeholder="machineLife"
                                    [value]="machineLife" maxlength="80" [disabled]="isDisabled" id="machineLife"
                                    matTooltip="Enter machineLife" ngControl="AssetDashboard.machineLife" readonly="true"
                                    disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.assetType == 'Printer'">
                            <div class="form-group form-group-sm">
                                <label for="cpp"> Cost Per Page </label>
                                <input class="form-control input-sm" type="text" name="cpp"
                                    [(ngModel)]="AssetDashboard.cpp" placeholder="mouse" [value]="cpp" maxlength="80"
                                    [disabled]="isDisabled" id="cpp" matTooltip="Enter cpp"
                                    ngControl="AssetDashboard.cpp" readonly="true" disabled />
                            </div>
                        </div>
                    </div>
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="usageType"> Usage Type </label>
                                <select [(ngModel)]="AssetDashboard.usageType" class="form-control" id="usageType"
                                    name="usageType" ngControl="AssetDashboard.usageType" matTooltip="Select Usage Type "
                                    disabled>
                                    <option [ngValue]="null" disabled>--Select an Option--
                                    </option>
                                    <option [ngValue]="undefined" disabled>--Select an Option--
                                    </option>
                                    <option>User</option>
                                    <option>Instrument</option>
                                    <option>Common</option>
                                    <option>Field Staff</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2"
                            *ngIf="AssetDashboard.usageType == 'User' || AssetDashboard.usageType == 'Field Staff'">
                            <div class="form-group form-group-sm">
                                <label for="empNo"> Employee No </label>
                                <input class="form-control input-sm" type="text" name="empNo"
                                    [(ngModel)]="AssetDashboard.empNo" placeholder="empNo" [value]="empNo" maxlength="80"
                                    [disabled]="isDisabled" id="empNo" matTooltip="Enter empNo"
                                    ngControl="AssetDashboard.empNo" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2"
                            *ngIf="AssetDashboard.usageType == 'User' || AssetDashboard.usageType == 'Field Staff'">
                            <div class="form-group form-group-sm">
                                <label for="empName"> Employee Name </label>
                                <input class="form-control input-sm" type="text" name="empName"
                                    [(ngModel)]="AssetDashboard.empName" placeholder="empName" [value]="empName"
                                    maxlength="80" [disabled]="isDisabled" id="empName" matTooltip="Enter empName"
                                    ngControl="AssetDashboard.empName" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2"
                            *ngIf="AssetDashboard.usageType == 'User' || AssetDashboard.usageType == 'Field Staff'">
                            <div class="form-group form-group-sm">
                                <label for="department"> Department </label>
                                <input class="form-control input-sm" type="text" name="department"
                                    [(ngModel)]="AssetDashboard.department" placeholder="department" [value]="department"
                                    maxlength="80" [disabled]="isDisabled" id="department" matTooltip="Enter department"
                                    ngControl="AssetDashboard.department" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2"
                            *ngIf="AssetDashboard.usageType == 'User' || AssetDashboard.usageType == 'Field Staff'">
                            <div class="form-group form-group-sm">
                                <label for="designation"> Designation </label>
                                <input class="form-control input-sm" type="text" name="designation"
                                    [(ngModel)]="AssetDashboard.designation" placeholder="designation"
                                    [value]="designation" maxlength="80" [disabled]="isDisabled" id="designation"
                                    matTooltip="Enter designation" ngControl="AssetDashboard.designation" readonly="true"
                                    disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.usageType == 'Common'">
                            <div class="form-group form-group-sm">
                                <label for="comDept"> Department </label>
                                <input class="form-control input-sm" type="text" name="comDept"
                                    [(ngModel)]="AssetDashboard.comDept" placeholder="comDept" [value]="comDept"
                                    maxlength="80" [disabled]="isDisabled" id="comDept" matTooltip="Enter comDept"
                                    ngControl="AssetDashboard.comDept" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.usageType == 'Common'">
                            <div class="form-group form-group-sm">
                                <label for="comFloor"> Floor </label>
                                <input class="form-control input-sm" type="text" name="comFloor"
                                    [(ngModel)]="AssetDashboard.comFloor" placeholder="comFloor" [value]="comFloor"
                                    maxlength="80" [disabled]="isDisabled" id="comFloor" matTooltip="Enter comFloor"
                                    ngControl="AssetDashboard.comFloor" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.usageType == 'Instrument'">
                            <div class="form-group form-group-sm">
                                <label for="instName"> Instrument Name </label>
                                <input class="form-control input-sm" type="text" name="instName"
                                    [(ngModel)]="AssetDashboard.instName" placeholder="instName" [value]="instName"
                                    maxlength="80" [disabled]="isDisabled" id="instName" matTooltip="Enter instName"
                                    ngControl="AssetDashboard.instName" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.usageType == 'Instrument'">
                            <div class="form-group form-group-sm">
                                <label for="instType"> Instrument Type </label>
                                <input class="form-control input-sm" type="text" name="instType"
                                    [(ngModel)]="AssetDashboard.instType" placeholder="instType" [value]="instType"
                                    maxlength="80" [disabled]="isDisabled" id="instType" matTooltip="Enter instType"
                                    ngControl="AssetDashboard.instType" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.usageType == 'Instrument'">
                            <div class="form-group form-group-sm">
                                <label for="version"> Version </label>
                                <input class="form-control input-sm" type="text" name="version"
                                    [(ngModel)]="AssetDashboard.version" placeholder="version" [value]="version"
                                    maxlength="80" [disabled]="isDisabled" id="version" matTooltip="Enter version"
                                    ngControl="AssetDashboard.version" readonly="true" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="AssetDashboard.usageType == 'Instrument'">
                            <div class="form-group form-group-sm">
                                <label for="software"> Software </label>
                                <input class="form-control input-sm" type="text" name="software"
                                    [(ngModel)]="AssetDashboard.software" placeholder="software" [value]="software"
                                    maxlength="80" [disabled]="isDisabled" id="software" matTooltip="Enter software"
                                    ngControl="AssetDashboard.software" readonly="true" disabled />
                            </div>
                        </div>
                    </div>
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="assetState"> Asset State </label>
                                <select [(ngModel)]="AssetDashboard.assetState" class="form-control" id="assetState"
                                    name="assetState" ngControl="AssetDashboard.assetState"
                                    matTooltip="Select Asset State" disabled>
                                    <option [ngValue]="null" disabled>--Select an Option--
                                    </option>
                                    <option *ngFor="let status of assStateList" value={{status.status}}>
                                        {{status.status}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="natureofActivities"> Nature of Activities performed/functioned </label>
                                <input class="form-control input-sm" type="text" name="natureofActivities"
                                    [(ngModel)]="AssetDashboard.natureofActivities" placeholder="natureofActivities"
                                    [value]="natureofActivities" maxlength="80" [disabled]="isDisabled"
                                    id="natureofActivities" matTooltip="Enter natureofActivities"
                                    ngControl="AssetDashboard.natureofActivities" readonly="true" disabled />
                            </div>
                        </div>
                    </div>
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="createdBy"> Created By </label>
                                <input class="form-control input-sm" type="text" name="createdBy"
                                    [(ngModel)]="AssetDashboard.createdBy" placeholder="createdBy"
                                    [value]="natureofActivities" maxlength="80" [disabled]="isDisabled" id="createdBy"
                                    matTooltip="Asset Created By" ngControl="AssetDashboard.createdBy" readonly="true"
                                    disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <label for="createdDate"> Created Date </label>
                                <input class="form-control input-sm" type="text"
                                    name="createdDate | date:'dd/MM/yyyy hh:mm:ss'"
                                    [(ngModel)]="AssetDashboard.createdDate"
                                    placeholder="createdDate | date:'dd/MM/yyyy hh:mm:ss'"
                                    [value]="createdDate | date:'dd/MM/yyyy hh:mm:ss'" maxlength="80"
                                    [disabled]="isDisabled" id="createdDate | date:'dd/MM/yyyy hh:mm:ss'"
                                    matTooltip="Asset Created On" ngControl="AssetDashboard.createdDate " readonly="true"
                                    disabled />
                            </div>
                        </div>
                    </div>
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </form>
            </div>
            <div class="modal-footer">
                <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i
                        class="fa fa-warning"></i>{{errMsgPop}}</span>
                <div *ngIf="view" class="row pull-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="isLoadingPop"
                        matTooltip="Click to close modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>