<section class="content-header">
  <h1>
    Password Policy
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Master</a></li>
    <li class="active "> Password Policy</li>
  </ol>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <div class="col-xs-6">
        <h3 class="box-title"> Password Policy</h3>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary" (click)="onPolicyEdit(policyItem)"><i class="fa fa-pencil-alt"
            aria-hidden="true"></i> Edit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="openAuditLogs(policyItem.id)">
          <i class="fa fa-history"></i> Audit History
        </button>
      </div>
    </div>
    <div class="box-body  table-responsive">
      <div class="row">
        <div class="col-md-12">
          <p>Set the password policy for all users in this portal</p>
          <p>Password expiry (Days) : <b>{{expiryDays?expiryDays:'Never'}}</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #68a7d2;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="getPasswordPolicy()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Password Policy</h4>
      </div>
      <div class="modal-body" style="box-shadow: none;">
        <div class="row">
          <div class="col-sm-12">
            <form #passwordPolicyForm="ngForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="btn-group" role="group" aria-label="basic label">
                    <label for="setpass">Password Expiry </label>
                  </div>
                  <label class="switch pull-right">
                    <input type="checkbox" id="chkexpire" name="chkexpire" [(ngModel)]="neverExpire">
                    <span class="slider"><span class="on">ON</span><span class="off">OFF</span></span>
                  </label>
                </div>
                <div class="col-sm-12">
                  <div class="form-group" [ngClass]="(!expirydays.valid && expirydays.touched && neverExpire)?'has-error':''">
                    <label for="expirydays"> Password expiry (Days)<span style="color:red" *ngIf="neverExpire">*</span></label>
                    <input type="number" class="form-control" name="expirydays" id="expirydays" placeholder="Expiry Days" min="1"
                      [(ngModel)]="passwordPolicy.expiryDays" pattern="^[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*$"
                      ngControl="passwordPolicy.expiryDays" #expirydays="ngModel" [required]="neverExpire" [disabled]="!neverExpire">
                    <span class="help-block" *ngIf="!expirydays.valid && expirydays.touched && neverExpire">Please enter days.</span>
                  </div>
                  <div class="form-group" [ngClass]="(!reason.valid && reason.touched)?'has-error':''">
                    <label for="reason"> Audit Reason<span style="color:red">*</span></label>
                    <textarea type="text" class="form-control" name="reason" id="reason" placeholder="Audit Reason"
                      [(ngModel)]="aduitpurpose" ngControl="aduitpurpose" (change)="aduitpurpose=aduitpurpose.trim()" #reason="ngModel"
                      required></textarea>
                    <span class="help-block" *ngIf="!reason.valid && reason.touched">Please Enter audit Reason.</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <i class="fa fa-spinner fa-pulse" *ngIf="isLoadingPop"></i>
        <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i class="fa fa-warning"></i>{{errMsgPop}}</span>
        <button type="button" class="btn btn-primary" (click)="onSavePolicy()"
          [disabled]="isLoadingPop || !passwordPolicyForm.valid">Save</button>
        <button type="button" class="btn btn-default" (click)="getPasswordPolicy()"
          style="background-color:darkgray;color:white;" data-dismiss="modal" [disabled]="isLoadingPop">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Audit Modal -->
<div id="auditModal" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title">Audit history</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" id="auditTable">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Action</th>
              <th>ActionBy</th>
              <th>DateTime</th>
              <th>KeyField</th>
              <th>Changes</th>
              <th>Reason</th>
            </tr>
          </thead>
          <!-- <ng-container > -->
          <tbody>
            <tr *ngFor="let item of auditLogList;let i = index">
              <td>{{auditLogList.length - i + '.0'}}</td>
              <td class="col-sm-1">{{item.auditType}}</td>
              <td class="col-sm-1">{{item.aduitUser}}</td>
              <td class="col-sm-1">{{item.auditDateTime | date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="col-sm-1">{{item.keyValue}}</td>
              <td class="col-sm-4">
                <table class="table table-bordered" style="margin-bottom: 0;">
                  <tr>
                    <th>Field name</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </tr>
                  <tr *ngFor="let ch of objParser(item.changes)">
                    <td>{{ch.fieldname}}</td>
                    <td>{{ch.oldvalue}}</td>
                    <td>{{ch.newvalue}}</td>
                  </tr>
                </table>
              </td>
              <td class="col-sm-4">{{item.purpose}}</td>
            </tr>
          </tbody>
          <!-- </ng-container> -->
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
