<section class="content-header">
    <!-- <section class="content-header" > -->
    <h1 class="display-1">
        Master
        <small>Leave Structure</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
        <li class="active">Leave Structure</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- <section class="content" > -->
    <div class="box">
        <div class="box-header">
            <div class="col-xs-6">
                <h3 class="box-title">Leave Structure</h3>
                <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-info pull-right"
                    (click)="onAddLeave(false,leavestructureItem)"><i class="fa fa-plus" aria-hidden="true"></i> Add New
                    Leave Structure
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="panel-body form-horizontal">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group row">
                        <label for="Plant" class="col-md-1 control-label text-right">Plant <span
                                style="color:red">*</span>
                        </label>
                        <div class="col-md-3">
                            <select [(ngModel)]="Plant" (change)="getPaygroupsBasedOnPlant()" class="form-control"
                                id="plant" name="plant" matTooltip="Select Plant" required>
                                <option [ngValue]=undefined disabled [selected]="true">--Select Plant--</option>
                                <option *ngFor="let location of locationList" value="{{location.code}}">
                                    {{location.code + ' -- ' + location.name}}</option>
                            </select>
                        </div>
                        <label for="paygroup" class="col-md-1 control-label text-right">Pay Group <span
                                style="color:red">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control" name="paygroup" [(ngModel)]="Paygroup" value="paygroup"
                                id="paygroup" matTooltip="Select PayGroup" required>
                                <option [ngValue]=undefined disabled [selected]="true">--Select Pay Group--</option>
                                <option *ngFor="let location of payGroupList1;let i=index"
                                    value="{{location.id}}">
                                    {{location.short_desc}}</option>
                            </select>
                        </div>
                        <label for="staffcat" class="col-md-1 control-label text-right">Staff Category</label>
                        <div class="col-md-3">
                            <select class="form-control" name="staffcat" [(ngModel)]="Empcat" value="staffcat"
                                id="staffcat" matTooltip="Select Staff Category">
                                <option [ngValue]=undefined disabled [selected]="true">--Select Staff Category--
                                </option>
                                <option *ngFor="let cat of empCatList" value="{{cat.id}}">
                                    {{cat.catltxt}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button class="btn btn-success" (click)="getLeaveStructureList();" matTooltip="click to filter data"><i
                        class="fas fa-filter"></i>&nbsp;
                    Filter</button>
                &nbsp;
                <button type="button" class="btn btn-warning" (click)="exportExcelLeaveStructure()"><i class="fas fa-file-excel"
                        aria-hidden="true"></i>&nbsp; Export to
                    Excel</button>
                &nbsp;
                <button class="btn btn-danger" (click)="ClearFilter();" matTooltip="click to clear filter data"><i
                        class="fas fa-times"></i>&nbsp;
                    Clear</button>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table id="LeaveTable" class="table table-bordered table-striped">
                <thead style="background-color: #68a7d2;color:white;">
                    <tr>
                        <th class="col-sm-1">SLNo</th>
                        <th>Plant</th>
                        <th>Pay Group</th>
                        <th>Category</th>
                        <th>Leave Type</th>
                        <th>Leave Min Allowed</th>
                        <th>Leave Max Allowed</th>
                        <th class="col-sm-1"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let leave of leavestructureList;  let i = index">
                        <td>{{i+1}}</td>
                        <td>{{leave.werks}}</td>
                        <td>{{getPaygroup(leave.paygroup)}}</td>
                        <td>{{getStaffCat(leave.staffcat)}}</td>
                        <td>{{leave.leavtxt}}</td>
                        <td>{{leave.lminalw}}</td>
                        <td>{{leave.lmaxalw}}</td>
                        <td>
                            <table>
                                <tr>
                                    <td class="pr-2">
                                        <button type="button" class="btn btn-primary btn-xs"
                                            (click)="onAddLeave(true,leave)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </td>
                                    <!-- <td class="pr-2">
                                        <button type="button" class="btn btn-primary btn-xs"
                                            (click)="deleteLeave(leave)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="overlay" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</section>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSaveModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" style="color: #0FB381; text-align: center;"><span class="text pull-center"
                        *ngIf="errMsgPop1.length>0"><i class="fa fa-check"></i>{{errMsgPop1}}</span></h3>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="isLoading">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #68a7d2;color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Leave Structure</h3>
            </div>
            <div class="modal-body box-primary" style="box-shadow: none;color:gray;background-size:cover;">
                <form #leaveForm="ngForm">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="baseplant"> Plant <span style="color: red;">*</span> </label>
                                <select [(ngModel)]="leavestructureItem.werks" class="form-control" id="plant"
                                    name="plant" matTooltip="plant" #plantEnt="ngModel" [disabled]="areTextboxesDisabled">
                                    <option [ngValue]="undefined" disabled [selected]="true">--Select Plant--</option>
                                    <option *ngFor="let pl of locationList" value={{pl.code}}>{{pl.code}}-{{pl.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="payGroup"> Pay Group</label>
                                <select [(ngModel)]="leavestructureItem.paygroup" class="form-control" id="payGroup"
                                    name="payGroup" matTooltip="Pay Group" #payGroup1Ent="ngModel" [disabled]="areTextboxesDisabled">
                                    <option [ngValue]="undefined" disabled [selected]="true">--Select Pay Group--</option>
                                    <option *ngFor="let pl of payGroupList" value={{pl.id}}>{{pl.short_desc}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="empcat"> Category</label>
                                <select [(ngModel)]="leavestructureItem.staffcat" class="form-control" id="empcat"
                                    name="empcat" matTooltip="staff Cat" #empcatEnt="ngModel" [disabled]="areTextboxesDisabled">
                                    <option [ngValue]="undefined" disabled [selected]="true">--Select Category--</option>
                                    <option *ngFor="let pl of empCatList" value={{pl.id}}>{{pl.catltxt}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="leavetype">Leave Type</label>
                                <select [(ngModel)]="leavestructureItem.leavtxt" class="form-control" id="leavetype"
                                    name="leavetype" matTooltip="LeaveType" #leavetEnt="ngModel" [disabled]="areTextboxesDisabled">
                                    <option [ngValue]="undefined" disabled [selected]="true">--Select LeaveType--</option>
                                    <option *ngFor="let pl of leaveTypeList" value={{pl.lvType}}>{{pl.lvType}}</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="fltrstatus">No. of Leaves Per Year</label>
                                <input type="number" id="lnodays" name="lnodays" class="form-control" placeholder="No. of Leaves per Year."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lnodays"
                                    #lnodaysent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label><input type="checkbox" id="laccum" name="laccum" 
                                        [(ngModel)]="leavestructureItem.laccum">Leave Can be Accumulated</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.laccum == true">
                            <div class="form-group">
                                <label for="lacclt">Accumulation Limit</label>
                                <input type="number" id="lacclt" name="lacclt" class="form-control" placeholder="Accumulation Limit."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lacclt"
                                    #laccltent="ngModel">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label><input type="checkbox" id="laccum" name="laccum"
                                        [(ngModel)]="leavestructureItem.lencash">Leave Can be Encashed</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.lencash == true">
                            <div class="form-group">
                                <label for="lenclt">Encashment Limit</label>
                                <input type="number" id="lenclt" name="lenclt" class="form-control" placeholder="Encashment Limit."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lenclt"
                                    #lencltent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fltrstatus">Minimum Leaves Availed at a Time. <span
                                        style="color: red;">*</span> </label>
                                <input type="number" id="lvmin" name="lvmin" class="form-control" placeholder="Minimum Leaves availed at a Time."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lminalw"
                                    required #lvminent="ngModel">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fltrlvl">Maximum Leaves Availed at a Time. <span
                                        style="color: red;">*</span> </label>
                                <input type="number" id="lvmax" name="lvmax" class="form-control" placeholder="Maximum Leaves availed at a Time."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lmaxalw"
                                    required #lvmaxent="ngModel">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fltrlvl">Minimum gap between two applied Leaves. </label>
                                <input type="number" id="lmindur" name="lmindur" class="form-control" placeholder="Minimum gap between two applied Leaves."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lmindur"
                                    #lmindurent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label><input type="checkbox" id="lhdallow" name="lhdallow" 
                                        [(ngModel)]="leavestructureItem.lhdallow">Half Day Allowed</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.lhdallow == true">
                            <div class="form-group">
                                <label for="lmaxtime">Number of Half Day Leaves Allowed in a Year. </label>
                                <input type="number" id="lmaxtime" name="lmaxtime" class="form-control" placeholder="Number of Half Day Leaves Allowed in a Year."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lmaxtime"
                                    #lmaxtimeent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="lattlt">Minimum Attendance Required in a Month </label>
                                <input type="number" id="lattlt" name="lattlt" class="form-control" placeholder="Minimum Attendance Required in a Month."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lattlt"
                                    #lattltent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label><input type="checkbox" id="ladv" name="ladv"
                                        [(ngModel)]="leavestructureItem.ladv">Allow negative leave balance</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.ladv == true">
                            <div class="form-group">
                                <label for="lmaxadv">Negative Days limit </label>
                                <input type="number" id="lmaxadv" name="lmaxadv" class="form-control" placeholder="Negative Days limit."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lmaxadv"
                                    #lmaxadvent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label><input type="checkbox" id="lwkend" name="lwkend"
                                        [(ngModel)]="leavestructureItem.lwkend">Include Weekend In Availed
                                    Leaves</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label><input type="checkbox" id="lihol" name="lihol"
                                        [(ngModel)]="leavestructureItem.lihol">Include Company Declared Holiday in
                                    Availed Leaves</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label><input type="checkbox" id="lpiadv" name="lpiadv"
                                        [(ngModel)]="leavestructureItem.lpiadv">Allow Leave Application to be posted in
                                    Advance</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.lpiadv == true">
                            <div class="form-group">
                                <label for="ladvday">Advance Leave Posting Days. </label>
                                <input type="number" id="ladvday" name="ladvday" class="form-control" placeholder="No. of Leaves per Year."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.ladvday"
                                    #ladvdayent="ngModel">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label><input type="checkbox" id="awothltyp" name="awothltyp"
                                        [(ngModel)]="leavestructureItem.awothltyp">Can be availed in combination
                                    of other leave</label>
                            </div>
                        </div>
                        <div class="col-sm-6" *ngIf="leavestructureItem.awothltyp == true">
                            <div class="form-group">
                                <label for="ladvday">Combined With ? </label>
                                <ng-multiselect-dropdown id="filterleaveTypes" name="filterleaveTypes"
                                    #filterleaveTypesEnt="ngModel" matTooltip="Select Leave Type (multiple)"
                                    [placeholder]="'Select Leave Types (multiple)'" [data]="leaveTypeList"
                                    [(ngModel)]="selectedLeaveList" [settings]="leaveTypeListSettings"
                                    (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="lhalfyr">In a half year how many days leaves can be availed</label>
                                <input type="number" id="lhalfyr" name="lhalfyr" class="form-control" placeholder="half year how many days leaves can be availed."
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.lhalfyr"
                                    #lhalfyrent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="gesch">Applicable to which gender</label>
                                <select [(ngModel)]="leavestructureItem.gesch" class="form-control" id="gesch"
                                    name="gesch" matTooltip="gender" #leavetEnt="ngModel">
                                    <option [ngValue]="undefined" disabled [selected]="true">--Select Gender--</option>
                                    <option value="1">All</option>
                                    <option value="2">Male</option>
                                    <option value="3">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="applicableWith">Applicable With</label>
                                <select [(ngModel)]="leavestructureItem.applicablewith" class="form-control"
                                    id="appWith" name="appWith" matTooltip="appWith" #applicableWithEnt="ngModel">
                                    <option [ngValue]="undefined" disabled [selected]="true"> Select Applicable With
                                    </option>
                                    <option value="1">ALL</option>
                                    <option value="2">ESIC</option>
                                    <option value="3">MEDICLAIM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label><input type="checkbox" id="cldm" name="cldm"
                                        [(ngModel)]="leavestructureItem.cldm">Calculate leave
                                    eligibility after a period</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.cldm==true">
                            <div class="form-group">
                                <label for="month">Calculate leave eligibility after how many months</label>
                                <input type="number" id="month" name="month" class="form-control"
                                    (keyup)="keyPressAllowOnlyNumber($event)" [(ngModel)]="leavestructureItem.month"
                                    #monthent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label><input type="checkbox" id="autoApprove" name="autoApprove"
                                        [(ngModel)]="leavestructureItem.autoApprove">Auto Approval</label>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="leavestructureItem.autoApprove == true">
                            <div class="form-group">
                                <label for="autoAppDays">Auto Approve after Days</label>
                                <input type="number" id="autoApproveAfterDays" name="autoApproveAfterDays"
                                    class="form-control" placeholder="No. Of Days"
                                    [(ngModel)]="leavestructureItem.autoApproveAfterDays"
                                    matTooltip="Auto Approve after 'X' days" #autoApproveAfterDaysent="ngModel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label><input type="checkbox" id="zerolvBalance" name="zerolvBalance"
                                        [(ngModel)]="leavestructureItem.showzerobalanceleave"> Show zero Leave
                                    Balance</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i
                        class="fa fa-warning"></i>{{errMsgPop}}</span>
                <button type="button" class="btn btn-success" (click)="onSaveLeave()"
                    [disabled]="isLoadingPop || (!leaveForm.valid) || isLoadPop"><i class="fas fa-thumbs-up"></i>&nbsp; {{isEdit==true?'Update':'Save'}}</button>
                <button type="button" class="btn btn-default" (click)="getLeaveStructureList()"
                    style="background-color:darkgray;color:white;" data-dismiss="modal"
                    [disabled]="isLoadingPop">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>