<section class="content-header">
  <h1>
    <!--{{cusHeaderList.header}}-->
    Approval Configratution 
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Approval Template</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="col-xs-6">
            <h3 class="box-title">Create Approval Template</h3>
            <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
          </div>
          <div class="col-xs-6">
            
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 form-group" style="margin-left: 200px; width: 450px;">
                      <div class="table-responsive">
                    <label>Select Levels of Approvals</label>
                    <select [(ngModel)]="templateListSel1" class="form-control" style="height:200px;" multiple id="templateList1" name="templateList1" required>
                      <option *ngFor="let temphdr1 of templateList1" [ngValue]="temphdr1">{{temphdr1.type}}</option>
                    </select>
                    <button class="btn btn-primary" (click)="MapSelectedHeaders();">Map</button>
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-4 form-group" style="width: 450px;">
                      <div class="table-responsive">
                    <label>Select Designation </label>
                    <select [(ngModel)]="templateListSel2" class="form-control" style="height:200px;" multiple id="templateList2" name="templateList2" required>
                      <option *ngFor="let temphdr2 of templateList2" [ngValue]="temphdr2">{{temphdr2.name}}</option>
                    </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <div class="row" style="padding-left:5px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4 form-group" style="margin-left: 200px;">
                  <div class="table-responsive">
                    <table *ngIf="hdrMappedList1.length>0" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>
                              Levels Mapped Value
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let mappedVal of hdrMappedList1">
                          <td>{{mappedVal}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="table-responsive">
                    <table *ngIf="hdrMappedList2.length>0" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>
                              Designation Mapped Value
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let mappedVal2 of hdrMappedList2">
                          <td>{{mappedVal2}}</td>
                        </tr>
                      </tbody>
                     
                    </table>
                   
                  </div>
                </div>
               
              </div>
              <div class="row">
                  <div class="col-md-4 form-group" style="margin-left: 200px;">
                      <div class="form-group" *ngIf="hdrMappedList1.length>0">
                          <label for="usrFName"><i class="fa fa-times-circle-o" ></i> Approval Template Name<span style="color:red">*</span></label>
                          <input type="text" class="form-control" id="ApprovalTemplateName"  [(ngModel)]="approvalItem.name"  placeholder="Approval Process Name" name="Name"
                                  ngControl="ApprovalTemplateName" required>
                        
                        </div>
              </div>
              <!-- <div class="col-md-4 form-group" style="margin-left: 2px;">
                 
                  <div class=" form-group" *ngIf="hdrMappedList1.length>0">
                      <label for="SelProject"> Project<span style="color:red">*</span></label>
                      <select [(ngModel)]="approvalItem.fkProject" class="form-control" id="project"  name="project" ngControl="SelProject" #project="ngModel" >
                        <option *ngFor="let project of projectList" [ngValue]="project">{{project.name}}</option>
                      </select>
                      <span style="color:red" [hidden]="projectList?.length<=0 && projectList?.length>0 && isEdit?false:true">Please Select Project.</span>
                  </div>
                  </div> -->
              </div>
              <div class="row">
                  <div class="col-md-4 form-group" style="margin-left: 200px;">
             
              <button class="btn btn-primary pull-right" *ngIf="hdrMappedList1.length>0" (click)="OnApprovalSave();">Submit</button>
              </div>
              <div class="col-md-1 form-group" style="margin-left: 2px;">
                 
                  <button class="btn btn-primary pull-right" *ngIf="hdrMappedList1.length>0" (click)="clearselection();">Clear</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="overlay" *ngIf="isLoading">
          <!--<i class="fa fa-refresh fa-spin"></i>--> <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
    </div>
  </div>
</section>

