<section class="content-header">
  <h1 class="display-1">
    Confirmation Summary List
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Confirmation Summary List</li>
  </ol>
</section>

<section class="content">

  <div class="panel panel-info">
    <div class="panel-heading">

      <div class="panel-title"><i class="glyphicon glyphicon-filter"></i> Filter</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Plant</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.PlantId" class="form-control" id="plant" name="plant"
                (change)="getPayGroupList()">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pll of plantList" [ngValue]="pll.id">{{pll.code}} - {{pll.name}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Pay Group</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.PayGroupId" class="form-control" id="paygroup" name="paygroup"
                matTooltip="paygroup" >
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pl of payGroupList" [ngValue]="pl.id">{{pl.long_Desc}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Employee Category</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.EmployeeCategoryId" class="form-control" id="employeecategory"
                name="employeecategory" matTooltip="employeecategory">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of employeeCategoryList" [ngValue]="cl.id">{{cl.catltxt}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Department</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.DepartmentId" class="form-control" id="Department" name="Department"
                (change)="getSubDepartmentList()">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pll of departmentList" [ngValue]="pll.id">{{pll.description}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Sub-Department</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.SubDepartmentId" class="form-control" id="SubDepartmentId"
                name="SubDepartmentId">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pl of subDepartmentList" [ngValue]="pl.id">{{pl.sdptidLtxt}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">State</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.StateId" class="form-control" id="StateId" name="StateId"
                matTooltip="StateId" (change)="getLocationList()">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of stateList" [ngValue]="cl.id">{{cl.bezei}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Location</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.LocationId" class="form-control" id="LocationId" name="LocationId"
                matTooltip="LocationId">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of locationList" [ngValue]="cl.id">{{cl.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Designation</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.DesignationId" class="form-control" id="Designation" name="Designation"
                matTooltip="Designation">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of designationList" [ngValue]="cl.id">{{cl.name}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Role</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.RoleId" class="form-control" id="RoleId" name="RoleId"
                matTooltip="RoleId">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of roleList" [ngValue]="cl.id">{{cl.role_ltxt}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">

            <label class="col-md-1 control-label text-right">Status</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.Status" class="form-control" id="status" name="status"
                #statusEnt="ngModel">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let sl of statusList" [ngValue]="sl.type">{{sl.type}}</option>
              </select> </div>
              <label class="col-md-1 control-label text-right"> Reporting Group</label>
              <div class="col-md-3">       
                      <select class="form-control" id="reportingGroupId" [(ngModel)]="filterModel.ReportingGroupId"
                      name="reportingGroupId" #reportingGroupEnt="ngModel" required>
                      <option value="" [selected]="true"> All </option>
                      <option *ngFor="let pl of reportingGroupsList" [ngValue]="pl.id">{{pl.reportingGroupLt}}</option>
                    </select>
              </div>
              <label class="col-md-1 control-label text-right">Confirmation Status</label>
              <div class="col-md-3">
                <select [(ngModel)]="filterModel.ConfirmationStatus" class="form-control" id="status" name="status"
                  #statusEnt="ngModel">
                  <option value="" [selected]="true"> All </option>
                  <option *ngFor="let sl of confirmationStatusList" [ngValue]="sl.type">{{sl.type}}</option>
                </select> </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Joining Date</label>
            <div class="col-md-1">
              <input [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" name="JoiningDateFrom" class="form-control"
                [(ngModel)]="filterModel.JoiningDateFrom" #CreatedDateFrom="ngModel" placeholder="From">
              <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
            </div>
            
            <div class="col-md-1">
              <input [owlDateTime]="dt12" [owlDateTimeTrigger]="dt12" name="JoiningDateTo" class="form-control"
                [(ngModel)]="filterModel.JoiningDateTo" #CreatedDateTo="ngModel" placeholder="To">
              <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
            </div>
            <label class="col-md-1 control-label text-right"></label>
            <label class="col-md-1 control-label text-right">Confirmation Due Date</label>
            <div class="col-md-1">
              <input [owlDateTime]="dt13" [owlDateTimeTrigger]="dt13" name="ConfirmationDueFrom" class="form-control"
                [(ngModel)]="filterModel.ConfirmationDueFrom" #ApprovedfromDate="ngModel" placeholder="From">
              <owl-date-time [pickerType]="'calendar'" #dt13></owl-date-time>
            </div>
            <!-- <label class="col-md-1 control-label text-right">-</label> -->
            <div class="col-md-1">
              <input [owlDateTime]="dt14" [owlDateTimeTrigger]="dt14" name="ConfirmationDueTo" class="form-control"
                [(ngModel)]="filterModel.ConfirmationDueTo" #ApprovedtoDate="ngModel" placeholder="To">
              <owl-date-time [pickerType]="'calendar'" #dt14></owl-date-time>
            </div>

          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary btn-sm" (click)="getConfirmationList();" matTooltip="click to Go"
              [disabled]="isLoading">
              Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="btn-group">
          <button class="btn btn-default active btn-sm columnGroup" data-group="all">All</button>
          <button class="btn btn-default active btn-sm columnGroup" data-group="personalDetails">Personal</button>
          <button class="btn btn-default active btn-sm columnGroup" data-group="jobDetails">Job</button>
          <button class="btn btn-default active btn-sm columnGroup" data-group="salaryDetails">Salary</button>
        </div>
        <div class="pull-right actionButtons">
          <button type="button" class="btn btn-sm btn-primary" (click)="exportData()">Export</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 table-responsive">
        <div class="overlay text-center h3" *ngIf="isLoading">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <table class="table table-hover table-striped table-bordered" id="data">
          <thead>
            <tr>
              <th class="jobDetails">Plant</th>
              <th class="jobDetails">Pay Group</th>
              <th class="jobDetails">Employee Category</th>
              <th class="jobDetails">Total</th>
              <th class="jobDetails">Confirmed</th>      
              <th class="jobDetails">Probationary</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let confirmation of filterData.list; let i = index">
              <td class="jobDetails">{{confirmation.plant}} </td>
              <td class="jobDetails"> {{confirmation.payGroup}} </td>
              <td class="jobDetails"> {{confirmation.employeeCategory}} </td>
              <td class="jobDetails">{{confirmation.total}} </td>
              <td class="jobDetails">{{confirmation.confirmed}} </td>
              <td class="jobDetails">{{confirmation.probationary}} </td>        
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <div class="overlay text-center h3" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <ul class="pagination" *ngIf="filterData.totalCount>0">
            <li>
              <a (click)="gotoPage(filterData.pageNo)">
                Showing <b>{{((filterData.pageNo-1)*filterData.pageSize)+1}}</b> -
                <b>{{(filterData.pageNo*filterData.pageSize)>filterData.totalCount?filterData.totalCount:filterData.pageNo*filterData.pageSize}}</b>
                of <b>{{filterData.totalCount}}</b> records
              </a>
            </li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(1)">First</a></li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">Previous</a></li>
            <li><a *ngIf="filterData.pageNo>2" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-2}}</a></li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-1}}</a></li>
            <li class="active"><a (click)="gotoPage(filterData.pageNo)">{{filterData.pageNo}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo"
                (click)="gotoPage(filterData.pageNo+1)">{{filterData.pageNo+1}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo+1"
                (click)="gotoPage(filterData.pageNo+2)">{{filterData.pageNo+2}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.pageNo+1)">Next</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.totalPages)">Last</a>
            </li>
            <li><a (click)="gotoPage(filterData.pageNo)">Page <b>{{filterData.pageNo}}</b> of
                <b>{{filterData.totalPages}}</b></a></li>
            <li><a>Page Size
                <select id="ddlPageSize" [(ngModel)]="filterModel.pageSize" (change)="pageSizeChange()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>