.row{
    margin-left:-15px;
    margin-right:-15px;
  }
  
  .login-parahead {
    font-size: 18px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  
  body{
    /* background: #333; */
    color: white;
    background-color: #135890;
   
  }
  
  body, html {
    height: 100%;
    margin: 0;
    color: white;
   
  }
  .navbar{
    /* border-bottom: #135890 3px solid; */
    /* opacity: 0.6; */
    background-color: white;
    margin-bottom: 0px;
    height: 75px;
  }
  
  .logo{
    padding-top: 20px;
    padding-left: 200px;
    float:left;
  }
  #home-section{
    /* background-image: url(../../../assets/dist/img/background1.jpg);  */
    background:url(../../../assets/dist/img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 850px; 
    @media (min-width: 1380px and max-width:2500px ){
      min-height: 850px; 
    }
    @media (min-width: 380px and max-width:120px ){
      min-height: 650px; 
    }
    height: 100%;
    width: 100%;
    opacity: 0.9;
    filter: alpha(opacity=60);
    color: #1d2124;
    background-position: center center;
  }
  
  #home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
  }
  
  #home-section .home-inner {
    padding-top: 150px;
  }
  
  #home-section .card-form {
    opacity: 0.8;
  }
  
  #home-section .fas, #create-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
  #explore-section .fas, #share-section .fas {
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .sticky-container{
    padding:0px;
    margin-right:-180px;
    position:fixed;
    right:-50%;
    top:150px;
    width:210px;
    z-index: 1100;
  }
  .sticky li{
    list-style-type:none;
    background-color:#135890;
    color:white;
    height:43px;
    padding:0px;
    margin-right: -150px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
  }
  .sticky li:hover{
    margin-left:-115px;
    
    color:white;  background-color: #135890 !important;
  }
  .sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
  }
  .sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
  }
  .sticky li p a{
    text-decoration:none;
    color:#2C3539;
  }
  .sticky li p a:hover{
    text-decoration:underline;
  }
  
  
  .bg-primary {
    background-color: #007bff !important;
  }
  
  a.bg-primary:hover, a.bg-primary:focus,
  button.bg-primary:hover,
  button.bg-primary:focus {
    background-color: #0062cc !important;
  }
  
  .bg-secondary {
    background-color: #6c757d !important;
  }
  
  a.bg-secondary:hover, a.bg-secondary:focus,
  button.bg-secondary:hover,
  button.bg-secondary:focus {
    background-color: #545b62 !important;
  }
  
  .bg-success {
    background-color: #28a745 !important;
  }
  
  a.bg-success:hover, a.bg-success:focus,
  button.bg-success:hover,
  button.bg-success:focus {
    background-color: #1e7e34 !important;
  }
  
  .bg-info {
    background-color: #17a2b8 !important;
  }
  
  a.bg-info:hover, a.bg-info:focus,
  button.bg-info:hover,
  button.bg-info:focus {
    background-color: #117a8b !important;
  }
  
  .bg-warning {
    background-color: #ffc107 !important;
  }
  
  a.bg-warning:hover, a.bg-warning:focus,
  button.bg-warning:hover,
  button.bg-warning:focus {
    background-color: #d39e00 !important;
  }
  
  .bg-danger {
    background-color: #dc3545 !important;
  }
  
  a.bg-danger:hover, a.bg-danger:focus,
  button.bg-danger:hover,
  button.bg-danger:focus {
    background-color: #bd2130 !important;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  a.bg-light:hover, a.bg-light:focus,
  button.bg-light:hover,
  button.bg-light:focus {
    background-color: #dae0e5 !important;
  }
  
  .bg-dark {
    background-color: #343a40 !important;
  }
  
  a.bg-dark:hover, a.bg-dark:focus,
  button.bg-dark:hover,
  button.bg-dark:focus {
    background-color: #1d2124 !important;
  }
  
  .bg-white {
    background-color: #fff !important;
  }
  
  .bg-transparent {
    background-color: transparent !important;
  }
  
  