<div class="navbar">
    <img src="../../../assets/dist/img/final.png" style="text-align:right; float:left;" class="logo"/>
  </div>
  <div id="home-section">
  <div class="loginColumns animated fadeInDown">
    <div class="row">
      <div class="d-none col-md-6 ">
        <h2 class="font-bold">
          Welcome to Performance Management
        </h2>
        <p style="font-size:11px;">
          Performance Management is completly cloud base application.
      </p> <p style="font-size:11px;">
          Automate and simplify your HR operations with our easy-to-use and customizable HR software. Performance Management application, allows you to save time for your work creating a better workplace.
        </p>
      <ul style="font-size:12px; padding-left: 5%;">
        <li>
          Cloud Applciaiton with no software / hardware installation.
        </li>
        <li>
          Attendance Management App
        </li>
        <li>
          Leave Management App
        </li>
        <li>
          Employee Information System App
        </li>
        <li>
          Performance Management App
        </li>
        <li>
          Learning & Development App
        </li>
        <li>
         Recruitment Management App
        </li>
        <li>
          Induction Management App
         </li>
         <li>
          Payroll Management App
         </li>
        <li>
          Fully customizable message board.
        </li>
        <li>
          Complaint logging and tracking.
        </li>
      </ul>
      </div>
      <div class="col-md-6">
          <div class="ibox-content">
            <form id="resetForm" [hidden]="hideLoginForm" action="../../index2.html" method="post">
              <div class="m-t" role="form">
                <p style="font-size:14px;">Reset Password<img src="../../../assets/dist/img/final.png" style="text-align:right; float:right;" /></p>
                <hr />
                <div class="form-group">
                  <span class="help-block" style="color:black;">{{sucessMsg}}</span>
                </div>
                <div class="form-group">
                  <span class="help-block" style="color:red;">{{pwdMsg1}}</span>
                </div>
                <div class="form-group has-feedback">
                  <label>New Password</label>
                  <input type="password" class="form-control" id="userId" placeholder="Password" name="usr_pwd" [(ngModel)]="userItem.usr_pwd" required>
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group">
                  <span class="help-block" style="color:red;">{{rePwdMsg1}}</span>
                </div>
                <div class="form-group has-feedback">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" id="emreusr_pwdail" placeholder="Retype Password" name="reusr_pwd" [(ngModel)]="userItem.reusr_pwd" required>
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <hr />

                <div class="row">
                  <div class="col-xs-6" style="padding-right:50px;padding-left:0px;">
                    <button type="submit" (click)="resetPassword(userItem.usr_pwd,userItem.reusr_pwd)" class="btn btn-primary btn-block btn-flat">Reset</button>
                  </div>
                  <div class="col-xs-6" style="padding-left:50px;;padding-right:0px;text-align:right;">
                    <button type="submit" (click)="gotoLoginForm();" class="btn btn-primary btn-block btn-flat">Cancel</button>
                  </div>
                </div>
                <p class="text-muted text-center">

                  <span ID="lblAfter" Visible="false" runat="server"></span>
                  <span ID="lblBefore" Visible="false" runat="server"></span>
                </p>
                <hr/>

                <div class="row">
                  <div class="col-sm-7" style="padding-bottom:10px;">
                    <a href="/login">Click to login</a>
                  </div>

                  <!-- /.col -->
                  <div class="col-sm-5" style="text-align:right;">
                    <a>Need Help?</a>
                  </div>
                </div>
              </div>
              <p class="m-t" style="text-align:center;">
                <small> </small>

              </p>

            </form>
            <div class="overlay" *ngIf="isLoading">
              <!--<i class="fa fa-refresh fa-spin"></i>--> <i class="fa fa-spinner fa-pulse"></i>
            </div>
          </div>
        </div>
      <div style="float:right;">
      <div class="sticky-container" style=" margin-right:-45%;">
        <ul class="sticky" style="color:white;">
            <li >
                <p><a style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"> <img src="../../../assets/dist/img/sf.png" width="32" height="32" style="margin-bottom: 2px;">  Successfactor </a></p>
            </li>
            <li style="color:white;">
                <p><a style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"><img src="../../../assets/dist/img/clock.png" width="32" height="32" style="margin-bottom: 2px;">iTimer<br> <span>Click to Navigate</span></a></p>
            </li>
            <li style="color:white;">
                <p><a style="color:white;" href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=4345a7b9-9a63-4910-a426-35363201d503&response_mode=form_post&response_type=code+id_token&scope=openid+profile&state=OpenIdConnect.AuthenticationProperties%3dAKTamSLkOQhruZ7L0xpBv5CR-N2_IQ5Bf_5NZdK4-465bVcLbn7Kv14JB59qOCu6FcSOY_YHpJfS4UkZ_mkrPFE-tZ9uDfWsXMJWSQrU7yxe-9ZIji3cNbLL8z0p5mYn2o3zhlAKR4JRZoKmixh4CktpXwQz9NZzxnAjcj11QTDCdYXKS7uFvk2bkxL0uGajcebx4qHBdtqYE0qDuNpGLQ&nonce=636837393593458490.YjdkYWFmNjYtYzUxNy00NmRmLTliOWMtNTAwYzQ1ZjViODgwNDllZjlkZDUtN2VmOC00ZWY4LWI0YWEtYjNmZTYxN2YxOGE1&redirect_uri=https%3a%2f%2fwww.office.com%2f&ui_locales=en-US&mkt=en-US&client-request-id=2122000c-c57a-4387-bd99-982ee5a88188&prompt=select_account" target="_blank"><img src="../../../assets/dist/img/mailbox1.png" class="text-primary" width="32" height="32" style="margin-bottom: 2px;">JKT Mail<br> <span>Click to Navigate</span></a></p>
            </li>
            <li>
                <p><a style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"><img src="../../../assets/dist/img/list.png" width="32" height="32" style="margin-bottom: 2px;">iTimer<br> <span>Click to Navigate</span></a></p>
            </li>
            <li>
                <p><a  style="color:white;" href="https://performancemanager10.successfactors.com/sf/start/#/login" target="_blank"><img src="../../../assets/dist/img/list.png" width="32" height="32" style="margin-bottom: 2px;">iTimer<br> <span>Click to Navigate</span></a></p>
            </li>
        </ul>
    </div></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        HRMS | Performance Management |Provided by JKT.
      </div>

      <div class="col-md-6 text-right">

        <small>©Copyright JKT 2021</small>
      </div>
    </div>
  </div>
  </div>
