<section class="content-header">
  <h1 class="display-1">
    Employee List
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Employee List</li>
  </ol>
</section>
<section class="content">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><i class="glyphicon glyphicon-filter"></i> Filter</div>
    </div>
    <div class="panel-body form-horizontal">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Plant</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.plantId" class="form-control" id="plant" name="plant" #plant="ngModel"
                (change)="getPayGroupList()" required>
                <option value="" [selected]="true">All</option>
                <option *ngFor="let plt of plantlist" [ngValue]="plt.id">{{plt.code}} - {{plt.name}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Pay Group</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.payGroupId" class="form-control" id="paygroup" name="paygroup"
                matTooltip="paygroup" required>
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pl of payGroupList" [ngValue]="pl.id">{{pl.long_Desc}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Employee Category</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.employeeCategoryId" class="form-control" id="employeecategory"
                name="employeecategory" matTooltip="employeecategory">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let cl of employeeCategoryList" [ngValue]="cl.id">{{cl.catltxt}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Department</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.departmentId" class="form-control" id="department" name="department"
                #departmentEnt="ngModel">
                <option value="" [selected]="true">All</option>
                <option *ngFor="let dl of departmentList" [ngValue]="dl.id">{{dl.description }} </option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Designation</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.designationId" class="form-control" id="designation" name="designation"
                matTooltip="Designation" #designationEnt="ngModel" required>
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pl of designationList" [ngValue]="pl.id">{{pl.name}} </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right"> State</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.stateId" class="form-control" id="offerState" name="state"
                matTooltip="State" #stateEnt="ngModel" (change)="onStateChange()" required>
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pl of stateList" [ngValue]="pl.id">{{pl.bezei}}</option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Location</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.locationId" class="form-control" (change)="onStateChange()"
                id="offerLocation" name="offerLocation" matTooltip="Location" #locationEnt="ngModel" required>
                <option value="" [selected]="true">All </option>
                <option *ngFor="let pl of locationList" [ngValue]="pl.id">{{pl.name }} </option>
              </select>
            </div>
            <label class="col-md-1 control-label text-right">Status</label>
            <div class="col-md-3">
              <select [(ngModel)]="filterModel.status" class="form-control" id="status" name="status"
                #statusEnt="ngModel">
                <option value="" [selected]="true"> All </option>
                <option *ngFor="let pll of statusList" [ngValue]="pll.type">{{pll.type}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 control-label text-right">Employee Name/No</label>
            <div class="col-md-3">
              <input name="name" class="form-control" id="name" [(ngModel)]="filterModel.name" />
            </div>
            <label class="col-md-1 control-label text-right">Date of Joining</label>
            <div class="col-md-3">
              <div class="col-md-6">
                <input [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" name="fromDate" class="form-control"
                  [(ngModel)]="filterModel.fromdate" #fromDate="ngModel" placeholder="From">
                <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
              </div>
              <div class="col-md-6">
                <input [owlDateTime]="dt12" [owlDateTimeTrigger]="dt12" name="toDate" class="form-control"
                  [(ngModel)]="filterModel.todate" #toDate="ngModel" placeholder="To">
                <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
              </div>
            </div>
            <ng-template [ngIf]="listFilter  != 'filtered'">
              <label class="col-md-1 control-label text-right">Active<span style="color:red">*</span></label>
              <div class="col-md-3">
                <select [(ngModel)]="filterModel.active" class="form-control" id="active" name="active"
                  #activeEnt="ngModel" required>
                  <option value="" [selected]="true">Both </option>
                  <option value="true">Active </option>
                  <option value="false">Inactive </option>
                </select> </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-sm" (click)="getEmployeeList();" matTooltip="click to filter data"
          [disabled]="(!toDate.valid && toDate.touched) || (!fromDate.valid && fromDate.touched)">
          Filter</button>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="btn-group">
          <button class="btn btn-default active btn-sm columnGroup" data-group="all">All</button>
          <button class="btn btn-default active btn-sm columnGroup" data-group="personalDetails">Personal</button>
          <button class="btn btn-default active btn-sm columnGroup" data-group="jobDetails">Job</button>
          <button class="btn btn-default active btn-sm columnGroup" data-group="otherDetails">Other</button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-primary" (click)="exportData()">Export</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 table-responsive">
        <div class="overlay text-center h3" *ngIf="isLoading">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <table class="table table-hover table-striped table-bordered" id="data">
          <thead>
            <tr>
              <th style="width: 50px;">Action</th>
              <th>Employee ID</th>
              <th>Status</th>
              <ng-template [ngIf]="filterModel.filterByHodRm  == true">
                <th>Transfer Status</th>
              </ng-template>
              <th >Active</th>
              <th class="personalDetails">Name</th>
              <th class="jobDetails">Plant Code</th>
              <th class="jobDetails">Plant Name</th>
              <th class="jobDetails">Pay Group</th>
              <th class="jobDetails">Employee Category</th>
              <th class="jobDetails">State</th>
              <th class="jobDetails">Location</th>
              <th class="jobDetails">Department</th>
              <th class="jobDetails">Designation</th>
              <th class="jobDetails">Grade</th>
              <th class="jobDetails">Role</th>
              <th class="otherDetails">Joining Date</th>
              <th class="otherDetails">Probation Period (Months)</th>
              <th class="otherDetails">Confirmation Due Date</th>
              <th class="otherDetails">Confirmation Date</th>
              <th class="otherDetails">Employment Type</th>
              <th class="otherDetails">Reporting Manager</th>
              <th class="otherDetails">HOD</th>
              <th class="otherDetails">Resignation Date</th>
              <th class="otherDetails">Notice Period (Months)</th>
              <th class="otherDetails">Last Working Date</th>
              <th class="otherDetails">Actual Relieving Date</th>
              <th class="otherDetails">Notice Shortfall Days</th>
              
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of filterData.list; let i = index">
              <td>

                <a [routerLink]="['/HR/Employee/view', item.employeeId]" class="btn btn-info btn-xs"
                  [matTooltipPosition]="'after'" matTooltip="Click to view full profile">
                  <i class="fas fa-user-alt"></i></a>

                <ng-template [ngIf]="filterModel.filterByHodRm  == true">
                  <button type="button" (click)="view(item.employeeTransferId)" class="btn btn-xs btn-info"
                  [matTooltipPosition]="'after'" matTooltip="Click to view the transfer details">
                  <i class="fas fa-eye"></i>
                </button>
                </ng-template>

                <ng-template
                  [ngIf]=" filterModel.filterByHodRm  == true && item.active == true && item.transferStatus != 'Pending For Approval' && item.transferStatus != 'Submitted'">

                  <button type="button" class="btn btn-xs btn-primary"
                    (click)="transfer(item.employeeId, item.reportingTypeForTransfer)" [matTooltipPosition]="'after'"
                    matTooltip="Click to initiate Transfer">
                    <i class="fas fa-check"></i></button>

                </ng-template>

                <ng-template [ngIf]="filterModel.filterByHodRm  == true && item.transferStatus == 'Submitted'">
                  <button type="button" (click)="edit(item.employeeId, item.employeeTransferId)"
                    class="btn btn-xs btn-primary" [matTooltipPosition]="'after'"
                    matTooltip="Click to edit the transfer details">
                    <i class="fas fa-pen"></i>
                  </button>
                  <button type="button" class="btn btn-xs btn-success"
                    (click)="submitForApproval(item.employeeTransferId)" [matTooltipPosition]="'after'"
                    matTooltip="Click to submit for Approval">
                    <i class="fas fa-check"></i></button>

                </ng-template>

                <ng-template [ngIf]="filterModel.filterByHodRm  == true && [item.transferStatus]=='Pending For Approval'">
                  <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#CommentsModal"
                    [matTooltipPosition]="'after'" (click)="withdraw(item.employeeTransferId)"
                    matTooltip="Click to withdraw this">
                    <i class="fas fa-times"></i></button>
                </ng-template>
                <ng-template [ngIf]="filterModel.filterByHodRm  == true && [item.transferStatus] == 'Approved'">
                  <button type="button" (click)="print(item.employeeTransferId)" class="btn btn-xs btn-warning"
                     [matTooltipPosition]="'after'" matTooltip="Click to print the letters">
                     <i class="fas fa-print"></i>
                  </button>
               </ng-template>

              </td>
              <td>{{item.employeeNo}} </td>
              <td><span class="label label-default label-{{item.statusColor}}">{{item.status}}</span></td>
              <ng-template [ngIf]="filterModel.filterByHodRm  == true">


                <td><span class="label label-default label-{{item.transferStatusColor}}">{{item.transferStatus}}</span>
                </td>
              </ng-template>
              <td><span class="label label-default label-{{item.active == true ? 'success' : 'danger'}}">{{item.active == true ? "Yes" : "No"}}</span>
              </td>
              <td class="personalDetails">{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
              <td class="jobDetails">{{item.plantCode}} </td>
              <td class="jobDetails">{{item.plantName}} </td>
              <td class="jobDetails">{{item.payGroupName}} </td>
              <td class="jobDetails">{{item.employeeCategoryName}} </td>
              <td class="jobDetails">{{item.state}}</td>
              <td class="jobDetails">{{item.location}} </td>
              <td class="jobDetails">{{item.department}} </td>
              <td class="jobDetails">{{item.designation}} </td>
              <td class="jobDetails">{{item.grade}} </td>
              <td class="jobDetails">{{item.role}} </td>
              <td class="otherDetails">{{item.dateOfJoining | date: "dd/MM/yyyy"}} </td>
              <td class="otherDetails">{{item.probationPeriod}} </td>
              <td class="otherDetails">{{item.confirmationDueDate | date: "dd/MM/yyyy"}} </td>
              <td class="otherDetails">{{item.dateOfConfirmation | date: "dd/MM/yyyy"}} </td>
              <td class="otherDetails">{{item.employmentType}} </td>
              <td class="otherDetails">{{item.reportingManagerName}} </td>
              <td class="otherDetails">{{item.approvingManagerName}} </td>
              <td class="otherDetails">{{item.dateOfResignation | date: "dd/MM/yyyy"}} </td>
              <td class="otherDetails">{{item.noticePeriod}} </td>
              <td class="otherDetails">{{item.lastWorkingDatePerSystem | date: "dd/MM/yyyy"}} </td>
              <td class="otherDetails">{{item.dateOfLeaving | date: "dd/MM/yyyy"}} </td>
              <td class="otherDetails">{{item.noticeShortfallDays}} </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <div class="overlay text-center h3" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <ul class="pagination" *ngIf="filterData.totalCount>0">
            <li>
              <a (click)="gotoPage(filterData.pageNo)">
                Showing <b>{{((filterData.pageNo-1)*filterData.pageSize)+1}}</b> -
                <b>{{(filterData.pageNo*filterData.pageSize)>filterData.totalCount?filterData.totalCount:filterData.pageNo*filterData.pageSize}}</b>
                of <b>{{filterData.totalCount}}</b> records
              </a>
            </li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(1)">First</a></li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">Previous</a></li>
            <li><a *ngIf="filterData.pageNo>2" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-2}}</a></li>
            <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-1}}</a></li>
            <li class="active"><a (click)="gotoPage(filterData.pageNo)">{{filterData.pageNo}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo"
                (click)="gotoPage(filterData.pageNo+1)">{{filterData.pageNo+1}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo+1"
                (click)="gotoPage(filterData.pageNo+2)">{{filterData.pageNo+2}}</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.pageNo+1)">Next</a></li>
            <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.totalPages)">Last</a>
            </li>
            <li><a (click)="gotoPage(filterData.pageNo)">Page <b>{{filterData.pageNo}}</b> of
                <b>{{filterData.totalPages}}</b></a></li>
            <li><a>Page Size
                <select id="ddlPageSize" [(ngModel)]="filterModel.pageSize" (change)="pageSizeChange()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="CommentsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Comments</h4>
      </div>
      <div class="modal-body">
        <label>Comments</label>
        <textarea rows="3" class="form-control" [(ngModel)]="comments"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="performTask()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>