<section class="content-header">
  <h1 class="display-1">
    Edit Resignation Details
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Edit Resignation Details</li>
  </ol>
</section>

<section class="content">

  <app-employee-quick-view [employeeId]="employeeId" *ngIf="employeeId > 0"></app-employee-quick-view>

  <div class="overlay text-center h3" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>

  <ul class="nav nav-tabs">
    <li [ngClass]="currentTab=='details'?'active':''" id="tab_details"><a (click)="onTabClick(0)">Details</a></li>
    <li [ngClass]="currentTab=='attachments'?'active':''" id="tab_attachments"><a
        (click)="onTabClick(1)">Attachments</a></li>
    <li [ngClass]="currentTab=='checklist'?'active':''" id="tab_checklist"><a (click)="onTabClick(2)">Checklist</a></li>
    <li [ngClass]="currentTab=='exitinterview'?'active':''" id="tab_exitinterview"><a (click)="onTabClick(3)">Exit
        Interview</a></li>
    <li [ngClass]="currentTab=='history'?'active':''" id="tab_history"><a (click)="onTabClick(4)">History</a></li>
  </ul>

  <div class="details-tab">
    <div *ngIf="currentTab=='details'">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Resignation Details</h3>
        </div>
        <div class="panel-body form-horizontal">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="resignationStatus">Resignation Status</label>
                <div class="col-md-8">
                  <span class="label label-lg label-{{isRejected?'danger':'warning'}}">{{resignationStatus}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4">Date Of Resignation <span style="color:red">*</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="resignationDate" name="resignationDate"
                    [(ngModel)]="resignationDetails.resignationDate" [owlDateTime]="resignationDate" required
                    [owlDateTimeTrigger]="resignationDate" (change)="onDateOfResignationChange()">
                  <owl-date-time [pickerType]="'calendar'" #resignationDate></owl-date-time>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4">Notice Period <span style="color:red">*</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="noticePeriod" [(ngModel)]="noticePeriod" required
                    [disabled]="true" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4">Last Working Day <span style="color:red">*</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="lastWorkingDate" name="lastWorkingDate"
                    [(ngModel)]="resignationDetails.lastWorkingDate" [owlDateTime]="lastWorkingDate" required
                    [owlDateTimeTrigger]="lastWorkingDate" [disabled]="true">
                  <owl-date-time [pickerType]="'calendar'" #lastWorkingDate></owl-date-time>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4">Reason <span style="color:red">*</span></label>
                <div class="col-md-8">

                  <select [(ngModel)]="resignationDetails.reason" class="form-control" id="reason" name="reason"
                    matTooltip="Reason For Resignation" #reasonEnt="ngModel" required [disabled]="!isRejected">
                    <option [ngValue]="null" disabled [selected]="true"> Select Reason </option>
                    <option *ngFor="let pl of reasonList" [ngValue]="pl.type">{{pl.type}}</option>
                  </select>
                  <span class="help-block" *ngIf="reasonEnt.touched && !reasonEnt.valid">Please Select Reason</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4">Detailed Reason <span style="color:red">*</span></label>
                <div class="col-md-8">
                  <textarea [matTooltipPosition]="'below'" matTooltip="Input Detail Reason For Resignation" required
                    [(ngModel)]="resignationDetails.reasonDetail" class="form-control" id="detailsReasonResignation"
                    name="detailsReasonResignation" [disabled]="!isRejected"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="resignationDetails.isFieldStaff == true">
              <div class="form-group">
                <label class="col-md-4" for="lastDcr">Last DCR</label>
                <div class="col-md-8">
                  <input [matTooltipPosition]="'below'" matTooltip="Click to change last DCR date" [owlDateTime]="dt12"
                    id="lastDcrDate" #joiningDateEnt="ngModel" placeholder="Last DCR Date" [owlDateTimeTrigger]="dt12"
                    name="lastDcrDate" class="form-control" [(ngModel)]="resignationDetails.lastDcrDate">
                  <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="expectedLastDate">Requested Relieving Date</label>
                <div class="col-md-8">
                  <input [matTooltipPosition]="'below'" matTooltip="Click to change last working date"
                    [owlDateTime]="dt11" id="expectedLastWorkingDate" #joiningDateEnt="ngModel"
                    placeholder="Expected Last Date" [owlDateTimeTrigger]="dt11" name="expectedLastWorkingDate"
                    class="form-control" [(ngModel)]="resignationDetails.expectedLastWorkingDate"
                    [disabled]="!isRejected">
                  <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="reasonResignationDateChange">Reason For Change In Relieving Date</label>
                <div class="col-md-8">
                  <textarea [matTooltipPosition]="'below'" matTooltip="Input Reason For Resignation Date Change"
                    [(ngModel)]="resignationDetails.reasonExpectedDateChange" class="form-control"
                    id="reasonResignationDateChange" name="reasonResignationDateChange" [disabled]="!isRejected"
                    #reasonResignationDateChange="ngModel"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4" for="actualLastWorkingDate">Actual Relieving Date</label>
                <div class="col-md-8">
                  <input [matTooltipPosition]="'below'" matTooltip="Click to change last working date"
                    [owlDateTime]="dt13" id="actualLastWorkingDate" #actualLastWorkingDateEnt="ngModel"
                    placeholder="Actual Relieving Date" [owlDateTimeTrigger]="dt13" name="actualLastWorkingDate"
                    class="form-control" [(ngModel)]="resignationDetails.actualLastWorkingDate" >
                  <owl-date-time [pickerType]="'calendar'" #dt13></owl-date-time>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row text-center actionButtons">
            <div class="col-md-12">

              <button type="button" *ngIf="!isRejected" class="btn btn-success" (click)="submit()"
                matTooltip="Click to Update Resignation" [disabled]="isLoading">Update</button>

              <button type="button" class="btn btn-primary" (click)="withdraw()"
                matTooltip="Click to Withdraw Resignation" data-toggle="modal" data-target="#ReasonModal"
                [disabled]="isLoading">Withdraw</button>

              <button *ngIf="isRejected" type="button" class="btn btn-warning" (click)="resubmit()"
                matTooltip="Click to Resubmit Resignation" [disabled]="isLoading">Re-Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-employee-attachments [objectId]="resignationId" [objectType]="this.objectType" [employeeId]="this.employeeId"
      [editAllowed]="true" [deleteAllowed]="false" *ngIf="currentTab=='attachments'"></app-employee-attachments>

    <app-resignation-checklist [resignationId]="resignationId" [editAllowed]="true" *ngIf="currentTab=='checklist' ">
    </app-resignation-checklist>

    <app-exit-interview [resignationId]="resignationId" [editAllowed]="true" *ngIf="currentTab=='exitinterview'">
    </app-exit-interview>

    <app-separation-history [employeeId]="employeeId" *ngIf="currentTab=='history' && employeeId > 0">
    </app-separation-history>
  </div>


  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" (click)="Back()" class="btn btn-sm btn-default" [matTooltipPosition]="'after'"
        matTooltip="Click to go back to list">
        <i class="fas fa-arrow-left"></i> Back
      </button>
    </div>
  </div>

  <div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tabApprovals">Approvals</a>
      </li>
      <li>
        <a data-toggle="tab" href="#tabActivity">Activity</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="tabApprovals" class="tab-pane fade in active">
        <app-flow-viewer [objectId]="this.resignationId" [objectType]="this.objectType"></app-flow-viewer>
      </div>
      <div id="tabActivity" class="tab-pane fade">
        <app-activity-viewer [objectId]="this.resignationId" [objectType]="this.objectType"></app-activity-viewer>
      </div>
    </div>
  </div>
</section>


<!-- Reason Modal -->
<div id="ReasonModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Reason for Withdrawal</h4>
      </div>
      <div class="modal-body">
        <label>Reason</label>
        <textarea rows="3" class="form-control" [(ngModel)]="reason"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="performTask()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>