<section id="admin">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fa fa-list-alt"></i>
          <span class="count-numbers">
            {{pendingbook}}
          </span>
          <span class="count-name">Today's Booked</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter danger">
          <i class="fa fa-users"></i>
          <span class="count-numbers">
            {{totaltodayvisits}}
          </span>
          <span class="count-name">Today's Checkin</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fa fa-user-check"></i>
          <span class="count-numbers">
            {{canceledBookings}}
          </span>
          <span class="count-name">Today's Checkout</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter info">
          <i class="fa fa-user-clock"></i>
          <span class="count-numbers">
            {{pendingCheckouts}}
          </span>
          <span class="count-name">Pending Checkout</span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <!-- Area Chart -->
      <!-- <div class="col-sm-8 col-sm-5"> -->
      <div class="col-sm-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="overlay" *ngIf="isLoading">
              <div class="justify-content-center align-items-center">
                <i class="fa fa-spinner fa-pulse"></i>
              </div>
            </div>
            <canvas id="linechart">

            </canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="overlay" *ngIf="isLoading">
              <i class="fa fa-spinner fa-pulse"></i>
            </div>
            <canvas id="mixed-chart">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="overlay" *ngIf="isLoading">
              <i class="fa fa-spinner fa-pulse"></i>
            </div>
            <canvas id="myPieChart">

            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
        <div class="card shadow">

          <div class="card-body">
            <div class="box-header ml-3">
              <h3>Visitors Report - Filter by dates</h3>
            </div>
            <div class="row flex-fluid">
              <!-- <button class="btn btn-primary"  id="slide_button"  style="cursor: pointer;">
                    <i class="fa fa-calendar fa-sm text-white-50"> </i> Add Filter
                  </button> -->
              <div class="col-sm-12">

                <!-- <div class="col-lg-4"><input type="date" class="form-control" placeholder="From"  [(ngModel)]="from_date"/></div>
              <div class="col-lg-4"><input type="date" [disabled]="from_date==null||from_date==''" class="form-control" placeholder="To"  [(ngModel)]="to_date"></div>
              <div class="col-lg-4"><button class="btn btn-primary" (click)="dashboardRefresh();">Go</button></div> -->
                <div id="slide">
                  <div class="col-sm-3">
                    <!-- <input type="date" class="form-control" placeholder="From Date"  [(ngModel)]="from_date"/> -->
                    <div class="form-group" [ngClass]="(fromDate.touched && !fromDate.valid)?'has-error':''">
                      <label>From Date</label>
                      <div class="input-group date">
                        <input #fromDate="ngModel" [matTooltipPosition]="'below'" matTooltip="Click to change from date"
                          [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" name="fromDate" class="form-control"
                          [(ngModel)]="from_date" #fromDate="ngModel">
                        <span class="input-group-addon trigger"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                      <owl-date-time [pickerType]="'calendar'" #dt1 style="width: 250px;"></owl-date-time>
                      <span class="help-block" *ngIf="!fromDate.valid && fromDate.touched">Please enter valid From
                        Date.</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group" [ngClass]="(toDate.touched && !toDate.valid)?'has-error':''">
                      <label>To Date</label>
                      <div class="input-group date">
                        <!-- <input type="date" [disabled]="from_date==null||from_date==''" class="form-control" placeholder="To Date"  [(ngModel)]="to_date"> -->
                        <input #toDate="ngModel" [min]="from_date" [max]="today" [matTooltipPosition]="'below'"
                          matTooltip="Click to change to date" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                          name="endDate" class="form-control" [(ngModel)]="to_date" #toDate="ngModel">
                        <span class="input-group-addon trigger"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                      <owl-date-time [pickerType]="'calendar'" #dt2 style="width: 250px;"></owl-date-time>
                      <span class="help-block" *ngIf="!toDate.valid && toDate.touched">Please enter valid To
                        Date.</span>
                    </div>
                  </div>
                  <div class="col-sm-6 mt-4 pt-3">
                    <button class="btn btn-primary" (click)="filterReport();"
                      [disabled]="(!toDate.valid && toDate.touched) || (!fromDate.valid && fromDate.touched)" [disabled]="isFilterReportLoading || isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isFilterReportLoading}"></i><span *ngIf="isFilterReportLoading">&nbsp;</span>Go
                    </button>
                    <button class="btn btn-success ml-3" (click)="exportAsXLSX();" [disabled]="visitorsFilteredList.length<=0">
                      <i class="fa fa-download fa-sm text-white-50"></i> Export to Excel
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card" style="border: none; width: 100%">

                <div class="card-body">
                  <!-- <div class="col mb-3">
                    <div class="row flex-fluid p-2 ">
                      
                    </div>
                  </div> -->
                  <div class="table-responsive">
                    <table id="userTable" class="table">
                      <thead style="background-color: #0099cc; color:white;">
                        <tr>
                          <th>Actions</th>
                          <th>Sl. No</th>
                          <th>Location</th>
                          <th>Type</th>
                          <th>Scheduled</th>
                          <th>Person Met</th>
                          <th>Visitor Name</th>
                          <th>Company</th>
                          <th>Mobile</th>
                          <th>No.of persons</th>
                          <th>Purpose</th>
                          <th>Email</th>
                          <th>Belongings</th>
                          <th>Other Belongings</th>
                          <th>Start Date</th>
                          <th>InTime</th>
                          <th>End Date</th>
                          <th>OutTime</th>
                          <th>Comments</th>
                          <th>AMC Action Taken</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let emp of visitorsFilteredList;  let i = index">
                          <td style="text-align: center; min-width: 100px;">
                            <button *ngIf="getPurpose(emp.fkVisitorPurpose)=='AMC' && emp.temp13=='Approved'" type="button" class="btn btn-xs btn-success" [matTooltipPosition]="'after'"
                              matTooltip="Click to Add AMC Details" (click)="AMCEntry(emp.id)">
                              <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button *ngIf="getPurpose(emp.fkVisitorPurpose)=='AMC' && emp.temp13=='Approved'" type="button" class="btn btn-xs btn-info ml-2" [matTooltipPosition]="'after'"
                              matTooltip="Click to Complete Visit." (click)="showPrintModal(emp)" 
                               [disabled]="emp.temp18 != null && emp.temp18 != '' " >
                              <i class="fas fa-print"></i>
                            </button>
                            <button *ngIf="emp.temp13=='Approved'" type="button" class="btn btn-xs btn-primary ml-2" [matTooltipPosition]="'after'"
                              matTooltip="Click to Complete Visit." (click)="showCommentsModal(emp)" 
                               [disabled]="emp.temp18 != null && emp.temp18 != '' " >
                              <i class="fas fa-check"></i>
                            </button>
                          </td>
                          <td style="text-align: center;">{{i+1}}</td>
                          <td>{{getLocationName(emp.temp7)}}</td>
                          <td>{{getVisitorType(emp.fkVisitorType)}}</td>
                          <td>{{emp.isPreShedualled?"Planned":"UnPlanned"}}</td>
                          <td>{{emp.fkEmployeeName}}</td>
                          <td>{{emp.name}}</td>
                          <td>{{emp.companyName}}</td>
                          <td>{{emp.mobile}}</td>
                          <td style="text-align: center;">
                            <span *ngIf="emp.numberOfPerson>=2"><a [matTooltipPosition]="'below'"
                                matTooltip="Click to View Additional Visitor Details"
                                (click)="additionalVisitorsDetails(emp.id);"
                                style="cursor: pointer; text-decoration: underline;">{{emp.numberOfPerson}}</a></span>
                            <span *ngIf="emp.numberOfPerson<2">{{emp.numberOfPerson}}</span>
                          </td>
                          <td>{{getPurpose(emp.fkVisitorPurpose)}}</td>
                          <td>{{emp.email}}</td>
                          <td style="word-break: break-word;">{{emp.temp2 ? emp.temp2 : 'NA'}}</td>
                          <td style="word-break: break-word;">{{emp.temp9 ? emp.temp9 : 'NA'}}</td>
                          <td>{{emp.date | date:'dd/MM/yyyy'}}</td>
                          <td style="text-align: center;">{{emp.fromTime ? (getTimeFormat(emp.fromTime) | date:'HH:mm') : 'NA'}}</td>
                          <td>{{emp.endDateTime | date:'dd/MM/yyyy'}}</td>
                          <td style="text-align: center;">{{emp.toTime ? (getTimeFormat(emp.toTime) | date:'HH:mm') : 'NA'}}</td>
                          <td style="text-align: center;">{{emp.temp18 ? emp.temp18 : 'NA'}}</td>
                          <td style="min-width: 150px !important; text-align: center;">{{emp.amcActionTaken ? emp.amcActionTaken : 'NA'}}</td>
                        </tr>
                      </tbody>
                     
                    </table>

                  </div>

                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="modal fade" id="additionalVisitorModal" style="z-index: 2000 !important;" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #68a7d2;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title">
          <h4>Additional Visitors Details</h4>
        </div>
      </div>
      <form #visitorForm="ngForm">
        <div class="modal-body" style="box-shadow: none;color:gray;background-size:cover;">
          <div class="row">
            <div class="col-sm-12">
              <table id="personTable" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let per of additionalVisitorItem; let rec=index">
                    <td style="width:30%">
                      <input class="form-control" [name]="'name'+rec" type="text" name="personName" id="personName"
                        readonly [(ngModel)]="per.name" placeholder="Name" />
                    </td>
                    <td style="width:30%">
                      <div class="col-sm-4">
                        <input class="form-control" [name]="'code'+rec" name="personCode" id="personCode" readonly
                          [(ngModel)]="per.temp1" placeholder="Code" />
                      </div>
                      <div class="col-sm-8">
                        <input class="form-control" [name]="'mobile'+rec" name="personPhone" id="personPhone" readonly
                          [(ngModel)]="per.mobile" placeholder="mobile" />
                      </div>
                    </td>
                    <td style="width:30%">
                      <input class="form-control" [name]="'email'+rec" type="email" name="personEmail" id="personEmail"
                        readonly [(ngModel)]="per.email" placeholder="Email" />
                    </td>

                  </tr>


                </tbody>
              </table>

            </div>
            <div class="overlay" *ngIf="isLoading">
              <!--<i class="fa fa-refresh fa-spin"></i>--> <i class="fa fa-spinner fa-pulse"></i>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i class="fa fa-warning"></i>{{errMsgPop}}</span>
          <button type="button" class="btn btn-default" [matTooltipPosition]="'below'" matTooltip="Click to Close"
            style="background-color:darkgray;color:white;" data-dismiss="modal" [disabled]="isLoadingPop">Close</button>
        </div>


      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="ReasonModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Comments</h4>
      </div>
      <div class="modal-body">
        <label>Comments</label>
        <textarea rows="3" class="form-control" [(ngModel)]="reason"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="OnUpdate()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

<!--AMC Print Modal-->
<div class="modal fade" id="AMCPrintModal" role="dialog" aria-labelledby="AMCPrintModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #68a7d2;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">AMC Visit Details</h3>
      </div>
      <div class="modal-body box-primary" style="box-shadow: none;">
        <div class="container" id="amc-print-section" *ngIf="printItem">
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-left"><img src="../../assets/dist/img/micrologo.png"></div>
              <div class="col-sm-7">
                <h1 class="pull-right">AMC Visit Details</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <h3>Visitor Details</h3>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
              <strong>Visitor Name: </strong> {{printItem.name}}
            </div>
            <div class="col-sm-4">
              <strong>Visiting Date: </strong> {{printItem.date}}
            </div>
            <div class="col-sm-4">
              <strong>Company Name: </strong> {{printItem.companyName}}
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
              <strong>Mobile: </strong> {{printItem.mobile}}
            </div>
            <div class="col-sm-4">
              <strong>Visitor Type: </strong> {{printItem.visitorType}}
            </div>
            <div class="col-sm-4">
              <strong>Purpose: </strong> {{printItem.visitorPurpose}}
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
              <strong>Belongings: </strong> {{printItem.temp2 ? printItem.temp2 : "NA"}}
            </div>
            <div class="col-sm-4">
              <strong>Person to Meet: </strong> {{printItem.fkEmployeeName}}
            </div>
            <div class="col-sm-4">
              <strong>Person to Meet ID: </strong> {{printItem.fkEmployeeId}}
            </div>
          </div>
          <div class="row">
            <h3>AMC Details</h3>
          </div>
          <div class="row mt-2" *ngIf="printAMCItems.length == 0">
            <p>No AMC details found.</p>
          </div>
          <div class="row mt-2" *ngIf="printAMCItems.length > 0">
            <div class="col-sm-4">
              <strong>Service Type: </strong> {{printAMCItems[0].typeOfService}}
            </div>
            <div class="col-sm-4">
              <strong>Department: </strong> {{printAMCItems[0].department}}
            </div>
            <div class="col-sm-4">
              <strong>Service Requested By: </strong> {{printAMCItems[0].serviceRequestedBy}}
            </div>
          </div>
          <div class="row mt-2" *ngIf="printAMCItems.length > 0">
            <div class="col-sm-4">
              <strong>Reason for AMC: </strong> {{printAMCItems[0].reasonforAmc}}
            </div>
            <div class="col-sm-4">
              <strong>Action Taken: </strong> {{printAMCItems[0].actionTaken}}
            </div>
          </div>
          <div class="row">
            <h3>Equipment Details</h3>
          </div>
          <div class="row mt-2" *ngIf="printAMCItems.length == 0">
            <p>No Equipment details found</p>
          </div>
          <div class="row mt-2" *ngIf="printAMCItems.length > 0">
            <div class="table-responsive">
              <table id="userTable" class="table">
                <thead style="background-color: #0099cc; color:white;">
                  <tr>
                    <th>Sl. No.</th>
                    <th>Equipment ID</th>
                    <th>Equipment Name</th>
                    <th>Make/Model</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of printAMCItems; let i = index">
                    <td style="text-align:center;">{{i + 1}}</td>
                    <td>{{item.equipmentId}}</td>
                    <td>{{item.equipmentName}}</td>
                    <td>{{item.modelNo}}</td>
                    <td>{{item.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="print()">Print</button>
        <button type="button" class="btn btn-default" style="background-color:darkgray;color:white;"
          data-dismiss="modal" [disabled]="isLoadingPop">Close</button>
      </div>
    </div>
  </div>
</div>