<section class="content-header">
  <!-- <h1 class="display-1">Change Password</h1> -->
  <ol class="breadcrumb">
    <li>
      <a href="#"><i class="fa fa-database" aria-hidden="true"></i>Home</a>
    </li>
    <li class="active ">Change Password</li>
  </ol>
</section>
<section>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #68a7d2;color:white;">
          <h3 class="modal-title">Change Password</h3>
        </div>
        <div class="modal-body box-primary">
          <div class="row">
            <form #sbuForm="ngForm">
              <div class="form-horizontal">
                <div class="form-group" [ngClass]="(!dname.valid && dname.touched)?'has-error':''">
                  <label for="dname" class="col-sm-6">New Password<span style="color:red">*</span></label>
                  <div class="col-sm-12">
                    <input type="password" class="form-control" id="dname" placeholder="New Password"
                      [(ngModel)]="newPassword" name="dname" ngControl="newPassword" #dname="ngModel" required
                      maxlength="50" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$">
                    <span class="help-block" *ngIf="!dname.valid && dname.touched">Password should be atleast 8 characters long
                      and should contain one number,one character and one special
                      character.</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="(!code.valid && code.touched)?'has-error':''">
                  <label for="code" class="col-sm-6">Confirm Password<span style="color:red">*</span></label>
                  <div class="col-sm-12">
                    <input type="password" class="form-control" id="code" placeholder="Confirm Password"
                      ngControl="confirmPassword" [(ngModel)]="confirmPassword" name="code" maxlength="200"
                      #code="ngModel" required />
                    <span class="help-block" *ngIf="!code.valid && code.touched">Please enter confirm
                      password.</span>
                    <span class="help-block" *ngIf="mismatch" style="color:red">Passwords entered do not match.</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i class="fa fa-warning"></i>{{errMsgPop}}</span>
          <button type="button" class="btn btn-default" style="background-color:darkgray;color:white;"
            routerLink="/vms-homepage">Close</button>
          <button type="button" class="btn btn-primary" (click)="updatePassword()"
          [disabled]="!sbuForm.valid">Update</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <div class="overlay" *ngIf="isLoading">
      <i class="fa fa-spinner fa-pulse"></i>
    </div>
</section>
