<section class="content-header">
  <h1 class="display-1">
    Booking Purpose Master
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">Booking Purpose Master</li>
  </ol>
</section>
<section class="content">
  <div class="box shadow">
    <div class="box-header">
      <div class="col-xs-6">
        <h3 class="box-title">Booking Purpose Master</h3>
        <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
      </div>
      <div class="col-xs-6">
        <button type="button" matTooltip="Click for add new purpose" [matTooltipPosition]="'after'"
          class="btn btn-primary pull-right btn-sm" (click)="onaddnewPurpose(false,purposeModel)"><i class="fa fa-plus"
            aria-hidden="true"></i> Add New Purpose</button>
      </div>
    </div>
    <div class="box-body table-responsive">
      <table id="roomsTable" class="table  table-striped" cellspacing="0">
        <thead style="background-color: #68a7d2;color:white;">
          <tr>
            <th class="col-sm-1">SNo</th>
            <th>Type</th>
            <th>Purpose</th>
            <th class="col-sm-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pur of purposeList; let i = index">
            <td>{{i+1}}</td>
            <td>{{pur.type}}</td>
            <td>{{pur.purpose}}</td>
            <td>
              <table>
                <tr>
                  <td class="pr-2">
                    <button type="button" [matTooltipPosition]="'after'" matTooltip="Click to Edit Entry"
                      class="btn btn-primary btn-xs" (click)="onaddnewPurpose(true,pur)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  </td>
                  <td class="pr-2">
                    <button type="button" [matTooltipPosition]="'after'" matTooltip="Click to delete Entry"
                      class="btn btn-primary btn-xs" (click)="deletePurpose(pur)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" (click)="openAuditLogs(pur.id)">
                      <i class="fa fa-history"></i>
                    </button>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #68a7d2;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{isEdit==true?'Update Purpose':'Add New Purpose'}}
        </h3>
      </div>
      <div class="modal-body" style="box-shadow: none;">
        <div class="row">
          <div class="overlay" *ngIf="isLoadingPop">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <div class="col-sm-12">
            <form #meetingroomForm="ngForm">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group"
                      [ngClass]="(serviceTypeEnt.touched && !serviceTypeEnt.valid)?'has-error':''">
                      <label for="serviceType">
                        Type<span style="color:red">*</span>
                      </label>
                      <select [(ngModel)]="selectedService" class="form-control" id="serviceType" name="serviceType"
                        matTooltip="type" #serviceTypeEnt="ngModel" [disabled]="isEdit" required>
                        <option [ngValue]="null" disabled [selected]="true"> Select Type </option>
                        <option *ngFor="let st of serviceTypeList" [ngValue]="st">{{st.type}}</option>
                      </select>
                      <span class="help-block" *ngIf="serviceTypeEnt.touched && !serviceTypeEnt.valid">Please select
                        type</span>
                    </div>
                    <div class="form-group" [ngClass]="(purposeEnt.touched && !purposeEnt.valid)?'has-error':''">
                      <label for="purpose">
                        Purpose<span style="color:red">*</span>
                      </label>
                      <input [(ngModel)]="purposeModel.purpose" ngControl="purposeModel.purpose" class="form-control"
                        id="purpose" placeholder="Purpose" name="purpose" #purposeEnt="ngModel" matTooltip="Purpose"
                        required (change)="purposeModel.purpose=purposeModel.purpose.trim()">
                      <span class="help-block" *ngIf="purposeEnt.touched && !purposeEnt.valid">Please
                        enter Purpose</span>
                    </div>
                    <div class="form-group" [ngClass]="(!reason.valid && reason.touched)?'has-error':''">
                      <label for="reason"> Audit Reason<span style="color:red">*</span></label>
                      <textarea type="text" class="form-control" name="reason" id="reason" placeholder="Audit Reason"
                        [(ngModel)]="aduitpurpose" ngControl="aduitpurpose" (change)="aduitpurpose=aduitpurpose.trim()"
                        #reason="ngModel" required></textarea>
                      <span class="help-block" *ngIf="!reason.valid && reason.touched">Please Enter audit Reason.</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i class="fa fa-warning"></i>{{errMsgPop}}</span>
        <button type="button" class="btn btn-primary" [matTooltipPosition]="'below'" matTooltip="Click to Save/Update"
          [disabled]="isLoadingPop ||!meetingroomForm.valid"
          (click)="onSavePurpose()">{{isEdit==true?'Update':'Save'}}</button>
        <button type="button" class="btn btn-default btn-outlined" [matTooltipPosition]="'below'"
          matTooltip="Click to Close" style="background-color:darkgray;color:white;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" style="color: #0FB381; text-align: center;"><span class="text pull-center"
            *ngIf="errMsgModalPop.length>0"><i class="fa fa-check"></i>{{errMsgModalPop}}</span></h3>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
</div>
<!-- Audit Modal -->
<div id="auditModal" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title">Audit history</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" id="auditTable">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Action</th>
              <th>ActionBy</th>
              <th>DateTime</th>
              <th>KeyField</th>
              <th>Changes</th>
              <th>Reason</th>
            </tr>
          </thead>
          <!-- <ng-container > -->
          <tbody>
            <tr *ngFor="let item of auditLogList;let i = index">
              <td>{{auditLogList.length - i + '.0'}}</td>
              <td class="col-sm-1">{{item.auditType}}</td>
              <td class="col-sm-1">{{item.aduitUser}}</td>
              <td class="col-sm-1">{{item.auditDateTime | date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="col-sm-1">{{item.keyValue}}</td>
              <td class="col-sm-4">
                <table class="table table-bordered" style="margin-bottom: 0;">
                  <tr>
                    <th>Field name</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </tr>
                  <tr *ngFor="let ch of objParser(item.changes)">
                    <td>{{ch.fieldname}}</td>
                    <td>{{ch.oldvalue}}</td>
                    <td>{{ch.newvalue}}</td>
                  </tr>
                </table>
              </td>
              <td class="col-sm-4">{{item.purpose}}</td>
            </tr>
          </tbody>
          <!-- </ng-container> -->
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
