<section class="content-header">
  <h1>
    UOM Master
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">UOM Master</li>

  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="col-xs-6">
            <h3 class="box-title">UOM Master</h3>
            <span class="label label-danger" *ngIf="errMsg.length>0">{{errMsg}}</span>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-primary pull-right" (click)="onAddUOM(false,uomItem)"><i
                class="fa fa-plus" aria-hidden="true"></i> Add UOM</button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
          <table id="uomTable" class="table table-bordered table-striped">
            <thead style="background-color: #68a7d2;color:white;">
              <tr>
                <th class="col-sm-1">SNo</th>
                <th>UOM</th>
                <th>Description</th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let uom of uomMasterList; let i = index">
                <td>{{i+1}}</td>
                <td>{{uom.uom}}</td>
                <td>{{uom.description }}</td>
                <td>
                  <table>
                    <tr>
                      <td class="pr-2">
                        <button type="button" class="btn btn-primary btn-xs" (click)="onAddUOM(true,uom)">
                          <i class="fas fa-pencil-alt"></i>
                        </button>
                      </td>
                      <td class="pr-2">
                        <button type="button" class="btn btn-primary btn-xs" (click)="deleteUOM(uom)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-xs" (click)="openAuditLogs(uom.id)">
                          <i class="fa fa-history"></i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="overlay" *ngIf="isLoading">
          <!--<i class="fa fa-refresh fa-spin"></i>--> <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSaveModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" style="color: #0FB381; text-align: center;"><span class="text pull-center"
            *ngIf="errMsgPop1.length>0"><i class="fa fa-check"></i>{{errMsgPop1}}</span></h3>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="isLoading">
    <!--<i class="fa fa-refresh fa-spin"></i>--> <i class="fa fa-spinner fa-pulse"></i>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #68a7d2;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{isEdit==true?'Update UOM ':'Add New UOM'}}</h4>
      </div>
      <div class="modal-body box-primary" style="box-shadow: none;">
        <form #uomForm="ngForm">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group" [ngClass]="(!mtypeEnt.valid && mtypeEnt.touched)?'has-error':''">
                  <label for="mtype">UOM<span style="color:red">*</span></label>
                  <input type="text" required class="form-control" id="mtype" (change)="uomItem.uom=uomItem.uom.trim()"
                    placeholder="UOM" [(ngModel)]="uomItem.uom" name="mtype" maxlength="3"
                    ngControl="uomItem.uom == '' ? '' : uomItem.uom" #mtypeEnt="ngModel">
                  <span class="help-block" *ngIf="!mtypeEnt.valid && mtypeEnt.touched">Please Enter Uom.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group" [ngClass]="(!mdescEnt.valid && mdescEnt.touched)?'has-error':''">
                  <label for="mdesc">Description<span style="color:red">*</span></label>
                  <input type="text" required class="form-control" id="mdesc"
                    (change)="uomItem.description=uomItem.description.trim()" placeholder="Description"
                    [(ngModel)]="uomItem.description" name="mdesc"
                    ngControl="uomItem.description == '' ? '' : uomItem.description" #mdescEnt="ngModel">
                  <span class="help-block" *ngIf="!mdescEnt.valid && mdescEnt.touched">Please Enter Description.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group" [ngClass]="(!reason.valid && reason.touched)?'has-error':''">
                  <label for="reason"> Audit Reason<span style="color:red">*</span></label>
                  <textarea type="text" class="form-control" name="reason" id="reason" placeholder="Audit Reason"
                    [(ngModel)]="aduitpurpose" ngControl="aduitpurpose" (change)="aduitpurpose=aduitpurpose.trim()"
                    #reason="ngModel" required></textarea>
                  <span class="help-block" *ngIf="!reason.valid && reason.touched">Please Enter audit Reason.</span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="overlay" *ngIf="isLoadingPop">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-red pull-left" *ngIf="errMsgPop.length>0"><i class="fa fa-warning"></i>{{errMsgPop}}</span>
        <button type="button" class="btn btn-primary" (click)="onSaveUOM(true)"
          [disabled]="isLoadingPop || !uomForm.valid">{{isEdit==true?'Update':'Save'}}</button>
        <button type="button" class="btn btn-default" style="background-color:darkgray;color:white;"
          data-dismiss="modal" [disabled]="isLoadingPop">Close</button>

      </div>
    </div>

    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Audit Modal -->
<div id="auditModal" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title">Audit history</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" id="auditTable">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Action</th>
              <th>ActionBy</th>
              <th>DateTime</th>
              <th>KeyField</th>
              <th>Changes</th>
              <th>Reason</th>
            </tr>
          </thead>
          <!-- <ng-container > -->
          <tbody>
            <tr *ngFor="let item of auditLogList;let i = index">
              <td>{{auditLogList.length - i + '.0'}}</td>
              <td class="col-sm-1">{{item.auditType}}</td>
              <td class="col-sm-1">{{item.aduitUser}}</td>
              <td class="col-sm-1">{{item.auditDateTime | date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="col-sm-1">{{item.keyValue}}</td>
              <td class="col-sm-4">
                <table class="table table-bordered" style="margin-bottom: 0;">
                  <tr>
                    <th>Field name</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </tr>
                  <tr *ngFor="let ch of objParser(item.changes)">
                    <td>{{ch.fieldname}}</td>
                    <td>{{ch.oldvalue}}</td>
                    <td>{{ch.newvalue}}</td>
                  </tr>
                </table>
              </td>
              <td class="col-sm-4">{{item.purpose}}</td>
            </tr>
          </tbody>
          <!-- </ng-container> -->
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
