<div *ngIf="details.length > 0">
  <ul class="nav nav-tabs">
    <li [ngClass]="(i+1) == 1 ? 'active' : ''" *ngFor="let item of details; let i = index">
      <a data-toggle="tab" href="#tabRecommendation{{i+1}}">Recommendation {{i + 1}}</a>
    </li>
  </ul>
  <div class="tab-content details-tab">
    <div id="tabRecommendation{{i+1}}" [ngClass]="(i+1 == 1) ? 'tab-pane fade in active' : 'tab-pane fade'"
      *ngFor="let item of details; let i = index">
      <div class="panel panel-info">

        <div class="panel-heading">
          <h3 class="panel-title">Recommendations by {{item.approverName}}</h3>
        </div>
        <div class="panel-body">
          <div class="overlay text-center h3" *ngIf="isLoading">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Current Responsibilities</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of item.oldResponsibilities; let i = index">
                      <td>
                        {{field.description}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>New Responsibilities</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of item.newResponsibilities; let i = index">
                      <td>
                        {{field.description}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Current Year KRA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of item.currentYearKRA; let i = index">
                      <td>
                        {{field.description}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Next Year KRA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of item.nextYearKRA; let i = index">
                      <td>
                        {{field.description}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label>Confirmation Type <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="confirmationType" [(ngModel)]="item.confirmationType"
                disabled="true" name="confirmationType" />
            </div>
          </div>
          <div class="form-group row" *ngIf="item.confirmationType == 'Probation Extension' || item.confirmationType == 'Trainee Extension'">

            <div class="col-md-4">
              <label>Next Confirmation Date <span style="color:red">*</span></label>
              <input [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" name="fromDate" class="form-control"
                [(ngModel)]="item.newConfirmationDate" #fromDate="ngModel" disabled="true">
              <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>

            </div>
            <div class="col-md-4">
              <label>Reason Type <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="extensionReason" [(ngModel)]="item.extensionReason"
                disabled="true" name="extensionReason" />
            </div>
            <div class="col-md-4">
              <label>Reason Detail <span style="color:red">*</span></label>
              <textarea [(ngModel)]="item.extensionReasonText" class="form-control" id="hodExtensionReasonText"
                name="hodExtensionReasonText" #reasonTextEnt="ngModel" disabled="true" maxlength="1000"></textarea>
            </div>
          </div>
          <div *ngIf="item.confirmationType != 'Probation Extension' && item.confirmationType != 'Trainee Extension'">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Designation/Role Change ?</label>
                  <input type="text" class="form-control" id="isPromotionRecommended"
                    [(ngModel)]="item.isPromotionRecommendedText" disabled="true" name="isPromotionRecommended" />
                </div>
              </div>
            </div>
            <div class="row" *ngIf="item.isPromotionRecommendedText=='Yes'">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Justification for Change</label>
                  <input type="text" class="form-control" id="recommendedDesignation" [(ngModel)]="item.comment"
                    disabled name="recommendedDesignation" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Recommended Designation</label>
                  <input type="text" class="form-control" id="recommendedDesignation"
                    [(ngModel)]="item.recommendedDesignation" disabled name="recommendedDesignation" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Recommended Role</label>
                  <input type="text" class="form-control" id="recommendedRole" [(ngModel)]="item.recommendedRole"
                    disabled name="recommendedRole" />
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label>Recommended Rating</label>
                  <input type="text" class="form-control" id="recommendedRating" [(ngModel)]="item.rating"
                    disabled="true" name="recommendedRating" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Recommended Salary Type</label>
                  <input type="text" class="form-control" id="recommendedSalaryType" [(ngModel)]="item.salaryType"
                    disabled="true" name="recommendedSalaryType" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Recommended Salary</label>
                  <input type="text" class="form-control" id="recommendedSalary" [(ngModel)]="item.recommendedSalary"
                    disabled="true" name="recommendedSalary" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="initial">Sales</label>
                  <input type="text" class="form-control" id="sales" [(ngModel)]="item.sales" ngControl="item.sales"
                    name="sales" disabled="true" />

                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="initial">Growth</label>
                  <input type="text" class="form-control" id="growth" [(ngModel)]="item.growth" disabled="true"
                    ngControl="item.growth" name="growth" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Special Achievement</label>
                  <textarea name="specialAchievement" [(ngModel)]="item.specialAchievement" class="form-control"
                    disabled></textarea>

                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Additional Notes</label>
                  <textarea name="hodAdditionalNotes" [(ngModel)]="item.hodAdditionalNotes" class="form-control"
                    disabled></textarea>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>