<section class="content-header">
  <h1 class="display-1">
    My Approvals
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Home</a></li>
    <li class="active">My Approvals</li>
  </ol>
</section>

<section class="content">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><i class="glyphicon glyphicon-filter"></i> Filter</div>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <div class="form-group">
          <label>Type</label>
          <select [(ngModel)]="filterModel.flowType" class="form-control">
            <option value="" [selected]="true"> All </option>
            <option *ngFor="let pl of flowTypes" [ngValue]="pl.type">{{pl.type}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Status</label>
            <select [(ngModel)]="filterModel.status" class="form-control">
              <option value="" [selected]="true">All</option>
              <option *ngFor="let pl of statuses" [ngValue]="pl.type">{{pl.type}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Result</label>
            <select [(ngModel)]="filterModel.result" class="form-control">
              <option value="" [selected]="true">All</option>
              <option *ngFor="let pl of results" [ngValue]="pl.type">{{pl.type}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Completed on behalf</label>
            <select [(ngModel)]="filterModel.completedOnBehalf" class="form-control">
              <option value="" [selected]="true">All</option>
              <option value="true">Yes</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>ID</label>
            <input name="objectId" class="form-control" id="objectId" [(ngModel)]="filterModel.objectId" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Search Text</label>
            <input name="text" class="form-control" id="text" [(ngModel)]="filterModel.text" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>From Date</label>
            <input [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" name="fromDate" class="form-control"
                  [(ngModel)]="filterModel.fromdate" #fromDate="ngModel">
                <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>To Date</label>
            <input [owlDateTime]="dt12" [owlDateTimeTrigger]="dt12" name="toDate" class="form-control"
                  [(ngModel)]="filterModel.todate" #toDate="ngModel">
                <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
          </div>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary" (click)="getFilterData()">Filter</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <div class="overlay text-center h3" *ngIf="isLoading">
        <i class="fa fa-spinner fa-pulse"></i>
      </div>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>Type</th>
            <th>ID</th>
            <th>Submitted On</th>
            <th>Submitted By</th>
            <th>Approval</th>
            <th>Approver</th>
            <th>Details</th>
            <th>Status</th>
            <th>Result</th>
            <th>Completed On</th>
            <th>Completed By</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of filterData.list; let i = index">           
           
            <td>{{task.name}}</td>
            <td>{{task.objectId}}</td>
            <td>{{task.startDate | date:'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{task.initiatedBy}}</td>
            <td>{{task.role}}</td>
            <td>{{task.approvers.join('; ')}}</td>
            <td>
              <div *ngIf="task.initialDataList">
                <table>
                  <tbody>
                    <tr *ngFor="let item of task.initialDataList; let j = index">
                      <th *ngIf="item.display">{{item.key}}: </th>
                      <td *ngIf="item.display">{{item.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
            <td><span class="label label-default label-{{task.statusColor}}">{{task.status}}</span></td>
            <td><span class="label label-default label-{{task.resultColor}}">{{task.result}}</span></td>
            <td>{{task.endDate | date:'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{task.completedBy}}</td>
            <td>{{task.activityTrace}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="overlay text-center h3" *ngIf="isLoading">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <ul class="pagination" *ngIf="filterData.totalCount>0">
          <li>
            <a (click)="gotoPage(filterData.pageNo)">
            Showing <b>{{((filterData.pageNo-1)*filterData.pageSize)+1}}</b> - <b>{{(filterData.pageNo*filterData.pageSize)>filterData.totalCount?filterData.totalCount:filterData.pageNo*filterData.pageSize}}</b> of <b>{{filterData.totalCount}}</b> records
            </a>
          </li>
          <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(1)">First</a></li>
          <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">Previous</a></li>
          <li><a *ngIf="filterData.pageNo>2" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-2}}</a></li>
          <li><a *ngIf="filterData.pageNo>1" (click)="gotoPage(filterData.pageNo-1)">{{filterData.pageNo-1}}</a></li>
          <li class="active"><a (click)="gotoPage(filterData.pageNo)">{{filterData.pageNo}}</a></li>
          <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.pageNo+1)">{{filterData.pageNo+1}}</a></li>
          <li><a *ngIf="filterData.totalPages>filterData.pageNo+1" (click)="gotoPage(filterData.pageNo+2)">{{filterData.pageNo+2}}</a></li>
          <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.pageNo+1)">Next</a></li>
          <li><a *ngIf="filterData.totalPages>filterData.pageNo" (click)="gotoPage(filterData.totalPages)">Last</a></li>
          <li><a (click)="gotoPage(filterData.pageNo)">Page <b>{{filterData.pageNo}}</b> of <b>{{filterData.totalPages}}</b></a></li>
          <li><a>Page Size 
            <select id="ddlPageSize" [(ngModel)]="filterModel.pageSize" (change)="pageSizeChange()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
