h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  /* .valign-center{
  
    color: red;
  } */

  /* .form-control{
    border-style: none none solid none;
    border-color: grey;
    border-radius: 0;
} */
